﻿@{
    ViewBag.Title = ViewBag.Title ?? "Availability 2 Search";
    ViewBag.ShowTestInfo = ViewBag.ShowTestInfo ?? false;
}
<script type="text/javascript">var showTestInfo = true;</script>

@if (ViewBag.ShowTestInfo)
{
}

<!-- COMMENT TO TEST -->
<!--  START NEW-->
@*<!doctype html>
    <html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
        <meta charset="utf-8" />
        <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <link href="availability.css" rel="stylesheet" type="text/css">
        <title>Product Availability</title>

    </head>
    <body>*@

<div id="stayVisibleHeader">

    <div id="weekSelector">
        <span id="ship_week_selector">
            select week
            <img src="../Images/Availability/arrow_down.png" width="13" height="13" />
        </span>



        <div id="ship_week_list_container">
            <div id="ship_week_list_display">??</div>
            <div id="ship_week_list_footer">
                <img src="~/Images/layout/dd_menu_pointer.png" />
            </div>
        </div>
        <div class="arrow">

            |<img id="image_ship_week_prior" src="../Images/Availability/arrow_left.png" width="13" height="13" />
            |<img id="image_ship_week_next" src="../Images/Availability/arrow_right.png" width="13" height="13" />
        </div>
    </div><!--#weekSelector-->
    <a id="view_cart_button" class="action_buttons" href="/home/cart">View Cart</a>
    <a id="add_to_cart_button" class="action_buttons" href="javascript:">Add to Cart</a>
    <div class="greyBox">
        not yet added to cart: <strong><span id="precart_total_span">0</span></strong>
    </div><!--.greyBox-->
    <div class="greyBox">
        items in cart: <strong><span id="pending_total_span">0</span></strong>
    </div><!--.greyBox-->

    <div id="clear"></div>

    @*<--! STICKY ANCHOR ADDED BY SUZANNE -->*@
    <div id="sticky-anchor"></div>
    @*<--! END STICKY ANCHOR ADDED BY SUZANNE -->*@
    <div id="greenHeaderRow">
        <div class="resultsBar">
            <div id="rowCount" class="resultsNumber">Loading results</div>
            <div class="dropdown">
                Sort By
                <select id="cboSort" style="padding:0px;background:none">
                    <option selected value="Species">Species</option>
                    <option value="Supplier">Supplier</option>
                    <option value="Product">Product</option>
                    <option value="Form">Form</option>
                    <option value="Price">Price</option>

                </select>
            </div>
            @*<div id="beta_link_div">
                    <span class="beta_link" onclick='launchClassic();'>Classic Version</span>
                </div>*@
        </div>
        <div id="weekCol1" class="weekBox">
            <img src="../Images/Availability/icon_week.png" />-
        </div>
        <div id="weekCol2" class="weekBox">
            <img src="../Images/Availability/icon_week.png" />-
        </div>
        <div id="weekCol3" class="weekBox">
            <img src="../Images/Availability/icon_week.png" />-
        </div>
        <div id="weekCol4" class="weekBox">
            <img src="../Images/Availability/icon_week.png" />-
        </div>
    </div><!--#greenHeaderRow-->
</div><!--#stayVisibleHeader-->
<div id="clear"></div>
<div id="results_main">
    <!--the Main body of the results page between the header and footer rows that contains all search results-->
    <div id="refineSearchColumn">
        <div id="refine_search_dialog_header">
            <p id="refine_search"><strong>Refine Search</strong></p>
            <a id="refine_search_go" class="action_buttons">Go</a>
        </div>
        <div id="clear"></div>
        @*<h3>REFINE SEARCH</h3>*@
        @*<input type="checkbox" name="show_available"> Show Only Available Products*@
        <div id="filter_availability_display">
            <span id="filter_availability_check_box" class="selection_selected">Show Only Available Products</span>
        </div>
        <div id="filter_organic_display">
            <span id="filter_organic_check_box" class="selection_selected">Show Only Organic products</span>
        </div>
        <div id="searchSupplier">
            <h2>SUPPLIER</h2>
            <div id="refine_search_expanded">
                <a class="select" id="supplierAll" href="javascript:;">SELECT ALL</a> | <a class="select" id="supplierClear" href="javascript:;">CLEAR ALL</a>
                <div id="clear"></div>
                <div id="refine_supplier_list">
                    Loading...
                </div><!--#refine_supplier_list-->

            </div><!--#refine_search_expanded-->
        </div><!--#searchSupplier-->
        <div id="searchSpecies">
            <h2>SPECIES</h2>
            <div id="refine_search_expanded">
                <a class="select" id="speciesAll" href="javascript:">SELECT ALL</a> | <a class="select" id="speciesClear" href="javascript:">CLEAR ALL</a>
                <div id="clear"></div>
                <div id="refine_species_list">Please Select Supplier above</div><!--#refine_species_list-->
                <div id="clear"></div>
                <a class="greyButton" href="#" style="visibility:hidden;">show more</a>
            </div><!--#refine_search_expanded-->
        </div><!--#searchSpecies-->
        <div id="clear"></div>
        <div>
            <a id="refine_search_go2" class="action_buttons">Go</a>
        </div>
    </div><!--#refineSearchColumn-->

    <div id="resultsRows">
        <div id="resultsRow">
            <div class="productInfoColumn1">
                <span class="title">Supplier:</span> [supplier]</br>
                <span class="title">Species:</span> [species]</br>
                <span class="title">Product:</span> [product]
            </div><!--.productInfoColumn1-->
            <div class="productInfoColumn2">
                <span class="title">Form:</span> [form]</br>
                <span class="title">Price:</span> [price]
            </div><!--.productInfoColumn2-->
            <div id="weekCol1" class="weekColumn">
                [value]</br>
                <input type="text" pattern="[0-9]*" class="week_order_input" maxlength="10">
            </div><!--.productInfoColumn2-->
            <div id="weekCol2" class="weekColumn">
                [value]</br>
                <input type="text" pattern="[0-9]*" class="week_order_input" maxlength="10">
            </div><!--.productInfoColumn2-->
            <div id="weekCol3" class="weekColumn">
                [value]</br>
                <input type="text" pattern="[0-9]*" class="week_order_input" maxlength="10">
            </div><!--.productInfoColumn2-->
            <div id="weekCol4" class="weekColumn">
                [value]</br>
                <input type="text" pattern="[0-9]*" class="week_order_input" maxlength="10">
            </div><!--.productInfoColumn2-->
        </div><!--#resultsRow-->
    </div><!--#resultsRows-->



    <div id="resultsFooterRow">
        <div class="column_footer_left">
            <a id="load_more_results_button" href="javascript:">LOAD MORE RESULTS</a>
        </div><!--.column_footer_left-->
        <div id="weekCol1" class="column_footer">
            <div class="greyBox"><span id="weekCol1Span">0</span></div>
            <div id="addToOrderDiv1" class="dropdown">add to order</div>
        </div><!--.column_footer-->
        <div id="weekCol2" class="column_footer">
            <div class="greyBox"><span id="weekCol2Span">0</span></div>
            <div id="addToOrderDiv2" class="dropdown">add to order</div>
        </div><!--.column_footer-->
        <div id="weekCol3" class="column_footer">
            <div class="greyBox"><span id="weekCol3Span">0</span></div>
            <div id="addToOrderDiv3" class="dropdown">add to order</div>
        </div><!--.column_footer-->
        <div id="weekCol4" class="column_footer">
            <div class="greyBox"><span id="weekCol4Span">0</span></div>
            <div id="addToOrderDiv4" class="dropdown">add to order</div>
        </div><!--.column_footer-->
    </div><!--#resultsFooterRow-->
</div><!--#results_main-->

<div id="stayVisibleFooter">
    <!--#the footer for desktop layout-->
    <div id="checkout_display_desktop">
        <a id="back_to_top_button" class="blueButton" href="#">BACK TO TOP</a>

        <a id="view_cart_button2" class="action_buttons" href="/home/cart">View Cart</a>
        <a id="add_to_cart_button2" class="action_buttons" href="javascript:">Add to Cart</a>

        <div class="greyBox">
            not yet added to cart: <strong><span id="precart_total_span2">0</span></strong>
        </div><!--.greyBox-->
        <div class="greyBox">
            items in cart: <strong><span id="pending_total_span2">0</span></strong>
        </div><!--.greyBox-->


    </div><!--#checkout_display_desktop-->
    <!--#the footer for MOBILE layout-->
    <div id="checkout_display_mobile">
        <div class="greyBox">
            items in cart: <strong>0</strong>
        </div><!--.greyBox-->
        <div class="greyBox">
            not yet added to cart: <strong>0</strong>
        </div><!--.greyBox-->
        <a id="add_to_cart_button3" class="action_buttons" href="javascript:">Add to Cart</a>
        <a id="view_cart_button3" class="action_buttons" href="/home/cart">View Cart</a>
        <div id="clear"></div>
        <a id="back_to_top_button" class="blueButton" href="#">BACK TO TOP</a>
    </div><!--#checkout_display_mobile-->

</div><!--#stayVisibleFooter-->
@*</body>
    </html>*@





<!--   END NEW-->

<script>
    var testCookieNum = 0;

    function testHistory() {
        history.replaceState({ foo: "bar" }, "", "/Availability2/Search?Category=GER&Form=RC");

        //history.pushState(null, '', "/Availability2/Search?Category=GER&Form=PRE")

        //http://dev.eplantsource.com/Availability2/Search?Category=GER&Form=URC

        return false;
    };
    function testQueryString() {
        model.config.init();
        var s = "Category: " + model.config.queryString.category;
        s += "\nForm: " + model.config.queryString.form;

        alert(s);
    };

    function testInitSearchInterface() {
        // alert("got here 2");
        viewModel.initSearchInterface();
    };
    function setLocation(queryString) {
        //adds url with new querystring to history obect and goes there
        //  alert("got here 3");
        window.location = '/Availability2/Search' + queryString;
    }
    function replaceLocation(queryString) {
        //replaces current url to history obect with new querystring and goes there
        //  alert("got here 5");
        window.location.replace(queryString);
    }
    function composeQueryString() {
        //  alert("got here 4");
        $("#test_left_div").hide();
        $("#test_right_div").hide();
        $("#test_result_display").empty();
        //viewModel.composeSpeciesList();

        //model.getSpeciesData([viewModel.composeSpeciesList, viewModel.selectSpecies]);

        //viewModel.composeSupplierList();





        //viewModel.state.shipWeekListComposed;
        //viewModel.state.supplierListComposed;
        //viewModel.state.speciesListComposed;
        //viewModel.state.filterImmediateAvailability;

        //viewModel.state.selections.selectedSuppliersCount();
        //viewModel.state.selections.selectedSpeciesCount();
        //viewModel.state.selections.getSelectedCategoryCode();
        //viewModel.state.selections.getSelectedFormCode();
        //viewModel.state.selections.getSelectedShipWeekString();
        //viewModel.state.selections.getSelectedSuppliersList();
        //viewModel.state.selections.getSelectedSpeciesList();

        //queryString += model.state.queryString.category();


        var queryString = "?Category=";
        queryString += eps_GetQueryStringValue("Category");
        queryString += "&Form=";
        queryString += eps_GetQueryStringValue("Form");
        queryString += "&ShipWeek=";
        queryString += viewModel.state.shipWeekSelected.ShipWeekString;
        queryString += "&Filter=";
        queryString += viewModel.state.filterImmediateAvailability;
        queryString += "&Suppliers=";
        queryString += viewModel.state.selections.getSelectedSuppliersList();
        queryString += "&Species=";
        queryString += viewModel.state.selections.getSelectedSpeciesList();

        var s = "<br /><br />State";

        s += "<br />";
        s += viewModel.state.shipWeekSelected.ShipWeekString;

        s += "<br />";
        s += viewModel.state.selections.getSelectedSuppliersList().length;

        s += "<br />";
        s += viewModel.state.selections.getSelectedSpeciesList().length;

        s += "<br />";
        s += viewModel.state.filterImmediateAvailability;

        s += "<br />QueryString Length=" + queryString.length;

        $("#test_result_display").html("<p>" + s + "</s>");
        $("#test_result_display").append("<div style='border:solid 1px #f00; overflow-x: scroll'>" + queryString + "</div>");

        //$.History.go('/Availability2/Search' + queryString);
        return queryString;
    };

    // <!-- STICKY HEADER ADDED BY SUZANNE -->  *//
    function sticky_relocate() {
        var window_top = $(window).scrollTop();
        var div_top = $('#sticky-anchor').offset().top;
        if (window_top > div_top) {
            $('#greenHeaderRow').addClass('stick');
            $('#sticky-anchor').height($('#sticky').outerHeight());
        } else {
            $('#greenHeaderRow').removeClass('stick');
            $('#sticky-anchor').height(0);
        }
    }

    $(function () {
        $(window).scroll(sticky_relocate);
        sticky_relocate();
    });

    var dir = 1;
    var MIN_TOP = 200;
    var MAX_TOP = 350;

    function autoscroll() {
        var window_top = $(window).scrollTop() + dir;
        if (window_top >= MAX_TOP) {
            window_top = MAX_TOP;
            dir = -1;
        } else if (window_top <= MIN_TOP) {
            window_top = MIN_TOP;
            dir = 1;
        }
        $(window).scrollTop(window_top);
        window.setTimeout(autoscroll, 100);
    }

    ;
    //<-- END OF STICKY HEADER ADDED BY SUZANNE -->


</script>
@*<script type="text/javascript"> var showTestInfo = false;</script>*@


@if (ViewBag.ShowTestInfo)
{
    @*<script type="text/javascript"> var showTestInfo = true;</script>*@

}
@*<input style="margin-left:300px;" type='button' value="OK" onclick="testOk();" />*@
@section scripts {
    @* Use Bundle for PRODuction*@
    @Scripts.Render("~/bundles/PageScripts/Availability2")

    @*Use files during Development*@
    @*    <script src="~/Scripts/numeral.min.js"></script>
        <script src="~/ViewModels/Availability2.js"></script>*@
    <script type="text/javascript">
        //function testOk() {
        //    //alert("testOk");
        //    //viewModel.updateSelections();
        //    //$("#" + viewModel.config.searchDialog.refineSearchTabId).effect('slide', viewModel.config.searchDialog.hideoptions, 500, function () { });
        //    //$("#" + viewModel.config.searchDialog.refineSearchDialogId).effect('slide', viewModel.config.searchDialog.showoptions, 500, function () { });

        //    eps_tools.OkDialog({ 'title': '<span>Testing:</span>', 'content': '<br /><span>Test Content</span>', 'modal': true, 'onClose': function() { alert('bingo'); } });
        //    //viewModel.searchDisplay();
        //};

        $(document).ready(function () {
            //   alert("Got Here 2");
            //Set Main Menu Selection
            //     $("#main_navigation_link_availability").removeClass().addClass("main_navigation_links_selected");

            Modernizr.load({
                test: Modernizr.history,
                //yep: function () { console.log("history is supported."); },
                nope: "../Scripts/history.min.js",
                complete: function () {
                    // Run this after everything in this group has downloaded
                    // and executed, as well everything in all previous groups
                    //   alert("Got Here3");
                    model.config.init();
                    //  alert("Got Here4");
                    viewModel.init();
                    //console.log('Modernizr complete.');

                }
            });


            //Set the test stuff
            $("#selected_category").text(model.state.queryString.category);
            $("#selected_form").text(model.state.queryString.form);

            //Breadcrumbs
            $.ajax({
                type: "get",
                timeout: "75000",
                data: {
                    "CategoryCode": model.state.queryString.category,
                    "FormCode": model.state.queryString.form,
                },
                url: "/api/Availability/GetCategoryAndFormNames",
                datatype: "json",
                beforeSend: function (jqXHR, settings) {
                },
                success: function (response, textStatus, jqXHR) {

                    //Set Breadcrumbs:
                    var breadCrumbs = [];
                    breadCrumbs.push({ Id: "", Type: "anchor", Text: "Home", Href: "/", Title: "Home Page", State: "Active" });
                    breadCrumbs.push({ Id: "", Type: "anchor", Text: "Availability", Href: "/availability", Title: "Availability", State: "Active" });
                    breadCrumbs.push({ Id: "", Type: "span", Text: response.CategoryName + ' ' + response.FormName, Href: "", Title: "You are here!", State: "Active" });
                    breadCrumbModel.ClearDisplay();
                    breadCrumbModel.Display(breadCrumbs);
                },
                // error: function (jqXHR, textStatus, errorThrown) {
                //     alert("url: " + decodeURI(this.url) + "\ntextStatus: " + textStatus + "\nerrorThrown " + errorThrown);
                // },
                complete: function (jqXHR, textStatus) {
                }
            });

        });


    </script>

}
@section styles {
    <link href="~/Content/styles/Availability2.css" rel="stylesheet" />

}
