﻿
a,
a:link,
a:visited,
a:active { 
	color: #007d9a;
	text-decoration: none;
	-webkit-transition: color .2s linear, background-color .2s linear;
  	-moz-transition: color .2s linear, background-color .2s linear;
  	-o-transition:color .2s linear, background-color .2s linear;
  	transition: color .2s linear, background-color .2s linear;
}

a:hover {
	color: #7bccc8;
}

img 			{ max-width: 100%; }
p, ul, ol 		{ margin-bottom: 20px; }
small 			{ font-size: 9px; }
strong, b 		{ font-family: 'ProximaNovaLtSemibold'; font-weight: normal; }

.clear 			{ clear: both; }
.align_right 	{ text-align: right; }
.align_center   { text-align: center; }
.float_right 	{ float: right; }
.inline 		{ display: inline; }

.green { color: #287d87; }

h1 {
    font-family: 'ProximaNovaRgRegular';
    color: #32e6f1;
    font-size: 25px;
}

p.em {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 11px;
	font-style: italic;
}

        .selection_available {
            background: transparent url('/Images/layout/checkbox_bg.png') 0 6px no-repeat;
            cursor:pointer;
        }
        .selection_selected {
            background: transparent url('/Images/layout/checkbox_checked_bg.png') 0 1px no-repeat;
            cursor:pointer;
        }
        .selection_disabled {
            font-weight:bold;
            color:#888;
            background: transparent;
            letter-spacing:.08em;
            cursor:text;
        }
        input[type="checkbox"] {
            display: none;
        }


#registration_display {
    margin-top: 5px;
	font-size: 13px;
	border-bottom: 1px solid #9bc718;
	overflow: hidden;	
}

#lookup_display {
    display: none;
    position: relative;
	padding: 0 0 10px 75px;
	color: #287d87;
	overflow: hidden;
	border-bottom: 1px solid #287d87;
	background: url(/images/registration/registration_icon.png) 0 0 no-repeat;
}


#lookup_display h1 {
	margin:0;
    color: #287d87;
}
#lookup_display p {
	margin:0;
}

#registration_display .row {
	padding: 0;
	margin-bottom: 15px;
	overflow: hidden;
	border-bottom: 1px solid #9bc718;	
}


#company_display {
    margin:0;
    border:solid 0px #0f0;
}

#account_display {
    margin:0 0 0 15px;
    border:solid 0px #f00;
}

#account_display label,
#company_display label,
#registration_display input[type=text],
#registration_display input[type=password] {
	display: inline-block;
	border: none;
	margin: 0;
    font: normal normal normal 13px/1.5 Helvetica, Arial, sans-serif;
	line-height: 1;
}

#registration_display label {
	display: inline-block;
	padding-right: 20px;
}

label.required_fields {
    background:transparent url('/images/icons/registration_icon_required_16.png') no-repeat 100% 50%;
}
label.invalid_fields {
    background:transparent url('/images/icons/registration_icon_error_16.png') no-repeat 100% 50%;
}
label.valid_fields {
    background:transparent url('/images/icons/registration_icon_valid_16.png') no-repeat 100% 50%;
}

/*#registration_display input[type=text], 
#registration_display input[type=password] {
	width: 45%;	
	outline: none;
	border-left: 1px solid #9bc718;
}*/

.lookup {
	overflow: hidden;
	color: #737474;
	background: url(/images/registration/or.png) 50% center no-repeat;
}

.lookup .row {
	padding: 0;
	margin-bottom: 15px;

	overflow: hidden;
	border-bottom: 1px solid #287d87;	
}

.lookup input[type=text] {
	width: 45%;	
	background: none;
	border: none;
	outline: none;
	border-left: 1px solid #287d87;
}

.lookup label {
	padding-right: 5px;
	display: inline-block;
        font: normal normal normal 13px/1.5 Helvetica, Arial, sans-serif;
}

#action_display {
	margin: 0 auto;
	width: 218px;
}

    #action_display span {
        background: #32e6f1;
        padding: 5px 18px;
        color: white;
        font-size: 14px;
        cursor: pointer;
    }


#action_display #cancel_account_button {
	border-left: 1px solid white;	
}

#action_display span:hover {
	background: #32848D;
}


a.lookup {
	position: absolute;
	bottom: -6px;
	right: 0;
}

li.inline {
	display: inline;
	margin: 5px;
}

div.row  {
	padding: 10px 0;
    color: #737474 ;
	border-bottom: 1px solid #9bc718;
}

div.row p {
	margin-bottom: 12px;	
}


    div.row input[type="checkbox"] + label span {
    display: inline-block;
    width: 12px;
    height: 20px;
    margin-left: 10px;
    padding: 0;
    background: url(/images/layout/checkbox_bg.png) left 6px no-repeat;
}

    div.row input[type="checkbox"]:checked + label span {
        background:url(/images/layout/checkbox_checked_bg.png) right 0 no-repeat;
    }

    #account_options_list {
        margin: 15px 0 0 0;
        padding:0;
        list-style: none;
        font: normal normal normal 10px/1.5 Helvetica, Arial, sans-serif;

    }
    #account_options_list li {
        margin: 0;
        padding: 2px;
    }
    input[type="checkbox"] + label span {
        display: inline-block;
        width: 12px;
        height: 18px;
        margin-right: 10px;
        background: url(/images/layout/checkbox_bg.png) left 6px no-repeat;
        cursor: pointer;
    }

    input[type="checkbox"]:checked + label span {
        background:url(/images/layout/checkbox_checked_bg.png) right 0 no-repeat;
    }

    
    #company_role_list {
        margin:0 0 15px 0;
        padding:0;
        list-style:none;

    }
    #company_role_list li {
        margin:0;
        padding:0;
        display: inline-block;
    }
    #company_type_list {
        margin:0;
        padding:0;
        list-style:none;

    }
    #company_type_list li {
        margin:0;
        padding:0;
    }
    #company_type_list li label {
        margin:0;
        padding:0;
    }
    input[type="radio"] {
        width: 12px;
        /*height: 18px;*/
        margin: 0px;
        /*background: url(/images/layout/checkbox_bg.png) left 6px no-repeat;*/
        border: none;
        cursor: pointer;
    }
    input[type="radio"]:checked {
        /*background:url(/images/layout/checkbox_checked_bg.png) right 0 no-repeat;*/
    }


#company_display,
#account_display {
    float: left;
    margin-top: 30px;
    width: 49%;
    margin-left: 10px;
}

#company_display h1 {
	padding-left: 75px;
	margin-bottom: 25px;
	background: url(/images/registration/set_up_co_icon.png) 0 0 no-repeat;
}

#account_display h1 {
	padding-left: 75px;
	margin-bottom: 25px;
	background: url(/images/registration/add_account_icon.png) 0 0 no-repeat;
}

#company_display h1 strong,
#account_display h1 strong {
	font-size: 13px;
	display: block;
}

#company_display p,
#account_display p {
	margin: 6px;
}

#lookup_found,
#signin {
	display: none;
}


ul#Country {
    margin: 0 0 0 5px;
    padding: 0 5px 0 0;
    display: inline;

}

ul#Country li {
    display:inline;
    text-align:left;
}

#Country label{
    display: inline;
}

select#StateCode {
	border: solid 1px #d0ddd0;
	margin: 0 20px 0 5px;
    padding:0 0 0 10px;
    color:#737474;
}

select#StateCode option {
    font: normal normal normal 13px/1.5 Helvetica, Arial, sans-serif;
	line-height: 1;
}
.selection_containers {
    display: inline-block;
    height:30px;
    border-left: 1px solid #9bc718;
}

#copy_from_company_phone {
    height:30px;
    display: inline-block;
    margin:0;
    padding:0;
    vertical-align:bottom;

}

#copy_from_company_email {
    height:30px;
    display: inline-block;
    margin:0;
    padding:0;
    vertical-align:bottom;

}

/*.popup {
	position: absolute;
	top: 100px;
	left: 50%;
	margin-left: -225px;
	z-index: 9999;
	width: 450px;
	padding: 10px;
	min-height: 350px;
	border-radius: 12px; 
	-moz-border-radius: 12px; 
	-webkit-border-radius: 12px; 
	-o-border-radius: 12px;
	background: url(/images/registration/window_outer_bg.png);	
}

.popup .inner {
	position: relative;
	min-height: 350px;
	padding: 15px;
	border-radius: 12px; 
	-moz-border-radius: 12px; 
	-webkit-border-radius: 12px; 
	-o-border-radius: 12px;
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box;
	color: white;
	background: url(/images/registration/window_inner_bg.png);	
}

.popup p {
	font-size: 13px; 
}

.popup .error_msg {
	font-size: 14px;
	line-height: 1.3;
	color: #9bc718;	
	margin: 0;
	min-height: 40px;
}

.popup .error_msg a { font-size: 14px; }

.popup .error_msg span { display: none; }

.popup a {
	font-size: 12px;
	color: #9bc718;	
}

.popup a.button {
	position: absolute;
	bottom: 0;
	left: 40px;
	display: inline-block;
	padding: 8px 22px 8px 15px;
	color: white;
	background: #9bc718 url(/images/registration/right_arrow.png) 98% center no-repeat;
}

.popup a.button:hover {
	background: #287d87 url(/images/registration/right_arrow.png) 98% center no-repeat;
}

.popup div.row {
	overflow: hidden;
	border: none;	
}

.popup label { 
	color: white; 

}

.popup input[type=text] {
	text-align: right;
	padding: 4px;
	border: none;
	outline: none;
	border-bottom: 1px solid #9bc718;
	width: 80%;	
	color: white;
	background: none;
	float: right;
}*/

.lightgrey { color: #a5a5a2; }



/**********************  Popup CSS***************************************/
    /*ui-dialog
        Main container of whole thing
    ui-dialog-title
        This is where the title actually appears
    ui-dialog-titlebar
        Area where title of fialog would be if exist
    ui-dialog-content
        Area where your div is actually loaded
    ui-resizable-handle
        These divs are used to resize the dialog but are usually invisble according to your setup
    ui-dialog-buttonpane
        Here is where buttons would go if exist
    ui-dialog-buttonset
        This is where the buttons actually appear*/

        .popUpDialogClass
        {
            padding:8px;
            background: transparent url('/images/layout/window_outer_bg.png');
            cursor:pointer;

	        -moz-box-shadow: 1px 1px 3px 0 #929497;
  	        -webkit-box-shadow: 1px 1px 3px 0 #929497;
  	        box-shadow: 1px 1px 3px 0 #929497;

            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -o-border-radius: 10px;
            border-radius: 10px;

        }

         .popUpDialogClass .ui-dialog-content
        {
            padding:0 30px 0 30px;
            background: transparent url('/images/layout/window_inner_bg.png');

            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -o-border-radius: 10px;
            border-radius: 10px;

        }
         .popUpDialogClass #login_container {
            margin:0;
            padding:0;

            font-family: 'ProximaNovaLtLight', sans-serif;
            font-size: 16px;
            color: #9bc718;

            background: transparent;

        }
         .popUpDialogClass #login_container label {
            display: inline;
            color: #fff;
            font-weight: 400;
        }
         .popUpDialogClass #login_container span.classWhite {
            display: inline;
            color: #fff;
            font-weight: 400;
            font-size:14px;
        }
        .popUpDialogClass #login_container span.classWhite a {
            color:#fff;
            text-decoration: underline;
            border:none;
        }
        .popUpDialogClass #login_container span.classWhite a:hover {
            text-decoration: none;
        }
        .popUpDialogClass #login_container span.classGreen a {
            color:#9bc718;
            text-decoration: underline;
            border:none;
        }
        .popUpDialogClass #login_container span.classGreen a:hover {
            text-decoration: none;
        }

         .popUpDialogClass #login_container span.classGreen {
            display: inline;
            color: #9bc718;
            font-weight: 400;
        }
         .popUpDialogClass #login_container input[type=text], #login_container input[type=password] {
            width:225px;
            border:none;
            color:#fff;
            background:transparent;
            border-bottom: 1px solid #9bc718;

        }
        .popUpDialogClass #login_container input[type=submit] {
            width:120px;
            height:35px;
            padding: 0;
            color: #fff;
            font-size: 16px;
            font-weight: normal;
            border:none;
            background: #9bc718 url('/images/layout/green_pointer.png') no-repeat 90% 50%;
        }



