﻿@charset "UTF-8";
/* CSS Document */

a {
	font-family: 'ProximaNovaLtLight',sans-serif;
	text-decoration: none;
	text-transform: uppercase;
}


#headerBar {
	background-color: #9bc718;
	width:80%;
	float:left;
	margin:0;
   height: 30px;
   padding: 20px 0;
}


#calendar {
	float: left;
	width: 95px;
    padding-left: 16px;
}

#phone {
	font-family: 'ProximaNovaLtLight',sans-serif;
	color: #fff;
	font-size: 1.8rem;
    float: left;
}

#phone a{
	font-family: 'ProximaNovaLtLight',sans-serif;
	color: #fff;

}

#headerNav {
	float: right;
}

#headerNav ul {
	list-style: none;
	margin: 0;
	padding:0;
}

#headerNav ul li {
	display: inline;
    margin-right: 22px;
}

#headerNav ul li a {
	font-family: 'ProximaNovaLtLight',sans-serif;
	color: #fff;
	  font-size: 1.3em;
  line-height: 1.4em;
}

#headerNav ul li a:hover {
	color: #287d87;
}


#cartBar {
	background-color: #287d87;
	padding: 15px 0px;
	width:20%;
	float:right;
	height: 40px;
	margin:0;
	color: #fff;
}

#cartBar a{
	color: #fff;
    margin-left: 20px;
 font-size: 1.4em;
line-height: .8em;
float: right;
}

#cartBar a:hover{
	color: #a2d7de;
}

.cart_full {
	background: url("images/icon_cart.png");
	background-repeat: no-repeat;
	background-position:center left;
	padding: 12px 10px 10px 55px;
}



#clear {
	clear:both;
}

#mainBar {
	height:120px;
	width: 100%;
	clear:both;
	background: url("images/logo.png");
	background-repeat: no-repeat;
	background-position:left top;
	margin-top: 8px;
}



#mainNav {
	width: 100%;
    text-align: right;
}

#mainNav ul {
	list-style: none;
}

#mainNav ul li {

    margin-right: 22px;
}

#mainNav ul li a {
	font-family: 'ProximaNovaLtLight',sans-serif;
	color: #287d87;
	
	line-height: 2em;
}

#mainNav ul li a:hover {
	color: #246366;
}

#search {
	float:right;
	height:50px;
}

#search_m {
	float:right;
	height:50px;
}

button {
font-family: 'ProximaNovaLtLight',sans-serif;
font-size: 1.2rem;
color: #287D87;
background-color: #fff;
padding: 5px;
border: none;
line-height: 1.3em;
}




input[type="text"]:focus {
  outline: none;
}

input[type="text"] {
  margin: 0;
  font-size: 15px;
  appearance: none;
  border: 1px solid #f1f1f1;
  border-radius: 2px;
padding: 5px;
}


.cart_mobile{
		display:none;
	}
	
img.menu-search {
    display:none;
}


.menu-link { display: none;}
.menu { 
  float: right;
  -webkit-transition: all 0.3s ease;  
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease; 
}
.menu ul { 
  padding: 0px;
  margin: 0px;
  list-style: none;
  position: relative;
  display: inline-table;
}
.menu > li > ul.sub-menu {
	min-width: 10em;
	padding: 4px 0;
	background-color: #f4f4f4;
	border: 1px solid #CCC;
}
.menu ul li { padding: 0px; }

.menu > ul > li { display: inline-block; }

.menu ul li a { 
display: block; 
text-decoration: none; 
color: #287D87; 
font-size: .9em; 
}

.menu ul li a:hover { 
color: #9bc718; 
}

.menu ul li > a { padding: 20px 10px; }

.menu ul ul { 
  display: none; 
  position: absolute; 
  top:100%;
  min-width: 160px;
  background-color: #ffffff;
}

.menu ul li:hover > ul { display: block; }

.menu ul ul > li { position: relative; }

.menu ul ul > li a { 
padding: 8px 15px 8px 10px; 
height: auto; 
background-color: #f1f1f1;
font-size: 1em; }

.menu ul ul > li a:hover { 
background-color: #287d87; 
color: #fff; 
}

.menu ul ul ul { position: absolute; left: 100%; top:0; }

.menu ul ul ul li > a  {  background-color: #f1f1f1; }

@media all and (max-width: 768px) {
	
	#search {
	display:none;
}
	#calendar {
	display:none;
}

#phone {
	display:none;
}

#headerNav ul {
    margin: 0px;
    padding: 0px;
}

#headerNav ul li a {
    font-size: 1.1rem;
}

.cart_full{
		display:none;
	}
	.cart_mobile{
		display:block;
	}
	
	#cartBar a{
    margin-right: 8px;
}
	
  .example-header .container { width: 100%; }
  
  a.menu-link {
    display: block;
    float: right;
    text-decoration: none;
    padding: 15px 10px 20px 10px;
}

   img.menu-search {
    display: block;
    float: right;
    text-decoration: none;
    padding: 15px 10px 20px 10px;
}


  
  
  .menu { clear: both; min-width: inherit; float: none; }


  .menu ul li > a { 
  padding: 15px 12px;
  font-size: 1.1em;  
  }
  
  .menu, .menu > ul ul { overflow: hidden; max-height: 0; background-color: #A2D7DE; }
  
  .menu > li > ul.sub-menu { padding: 0px; border: none; }
 
  .menu.active, .menu > ul ul.active { max-height: 55em; }
  
  .menu ul { display: inline; }
  
  .menu > ul { border-top: 1px solid #fff; }
  
  .menu li, .menu > ul > li { display: block; }
  
  .menu li a { 
  color: #000; 
  display: block; 
  padding: 0.8em; 
  border-bottom: 1px solid #fff; 
  position: relative; 
  }
  
  .menu li.has-submenu > a:after {
    content: '+';
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    font-size: 1.5em;
    padding: 0.55em 0.5em;
  }
  .menu li.has-submenu > a.active:after {
    content: "-";
  }
  .menu ul ul > li a { background-color: #e4e4e4; padding: 15px 18px 15px 30px; }
  .menu ul ul, .menu ul ul ul { display: inherit; position: relative; left: auto; top:auto; border:none; }
}

@media all and (min-width: 1200px) {
  .menu ul li a {
    font-size: 1.2em;
  }

  .menu ul {
      width: 800px;
  margin-right: 220px;
  }

  #search {
    margin-top: -55px;
  }
}