﻿/*!  * Bootstrap v3.3.4 (http://getbootstrap.com)  * Copyright 2011-2015 Twitter, Inc.  * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)  */ /*! normalize.css v3.0.2 | MIT License | git.io/normalize */

a {
    background-color: transparent;
}

    a:active, a:hover {
        outline: 0;
    }

b, strong {
    font-weight: bold;
}

h1 {
    margin: .67em 0;
    font-size: 2em;
}

sub, sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}

sup {
    top: -.5em;
}

sub {
    bottom: -.25em;
}

img {
    border: 0;
}
/*svg:not(:root) {   overflow: hidden; }*/

figure {
    margin: 1em 40px;
}

hr {
    height: 0;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

pre {
    overflow: auto;
}

code, kbd, pre, samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}

button {
    overflow: visible;
}

button, select {
    text-transform: none;
}

button, {
    -webkit-appearance: button;
    cursor: pointer;
}

.btn:hover {
    color: #333;
    text-decoration: none;
}

.btn-success {
    color: #9bc718;
    background-color: #287d87;
    border-color: #9bc718;
}

    .btn-success:hover, .btn-success:focus, .btn-success.focus, .btn-success:active, .btn-success.active, .open > .dropdown-toggle.btn-success {
        color: #287d87;
        background-color: #9bc718;
        border-color: #287d87;
    }

    .btn-success:active, .btn-success.active, .open > .dropdown-toggle.btn-success {
        background-image: none;
    }

button::-moz-focus-inner, input::-moz-focus-inner {
    padding: 0;
    border: 0;
}

input {
    line-height: normal;
}

    input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
        height: auto;
    }

    input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
        -webkit-appearance: none;
    }

fieldset {
    padding: .35em .625em .75em;
    margin: 0 2px;
    border: 1px solid #c0c0c0;
}

legend {
    padding: 0;
    border: 0;
}

textarea {
    overflow: auto;
}

optgroup {
    font-weight: bold;
}

#partnerlist ul li p {
    font-weight: 100;
    line-height: 2;
    color: #737474;
    font-size: .75em;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0px;
}

.col-lg-4.col-md-6.col-sm-6 address a {
    color: #287d87;
}

.col-xs-2 a img {
    float: left;
}

.col-lg-12.text-left p a {
    color: #9bc718;
}

.jumbotron .text-center a {
    color: #9bc718;
}

@media print {
    *, *:before, *:after {
        color: #287D87 !important;
        text-shadow: none !important;
        background: transparent !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
    }

    a, a:visited {
        text-decoration: underline;
    }

        a[href]:after {
            content: " (" attr(href) ")";
        }

    pre, blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p, h2, h3 {
        orphans: 3;
        widows: 3;
    }

    h2, h3 {
        page-break-after: avoid;
    }

    select {
        background: #fff !important;
    }
}
/* * {   -webkit-box-sizing: border-box;      -moz-box-sizing: border-box; }*/

div ul li {
    font-size: 16px;
    margin-left: 5px;
}

#partnerlist ul li {
    font-weight: 200;
    line-height: 1.1;
    color: #9bc718;
    font-size: 2em;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style-image: url('http://epsstorage.blob.core.windows.net/websiteimages/flowerbullet.gif');
}

#partnerlist ul {
    float: left;
    width: 45%;
}

@media (max-width: 992px) {
    #partnerlist ul {
        float: none;
        width: 100%;
    }
}

.text-center.col-sm-6 ul li {
    font-size: 16px;
    margin-left: 5px;
}

*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

a {
    color: #337ab7;
    text-decoration: none;
}

    a:hover, a:focus {
        color: #23527c;
        text-decoration: underline;
    }

    a:focus {
        outline: thin dotted;
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px;
    }

#partnerlist ul li a {
    text-decoration: none;
    margin: 0;
    color: #9bc718;
}

    #partnerlist ul li a:hover {
        text-decoration: underline;
        margin: 0;
        color: #287d87;
    }

figure {
    margin: 0;
}

.row .col-md-6.text-center img {
    margin: 20px 0px 0px 0px;
    vertical-align: middle;
}

.row .col-xs-2 a img {
    float: left;
    margin: 10px;
}

.img-responsive, .thumbnail > img {
    display: block;
    max-width: 100%;
    height: auto;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}

[role="button"] {
    cursor: pointer;
}

h1, h2, h4, h5 {
    font-weight: 500;
    line-height: 1.1;
    color: #EE7600;
    font-size: 3.2em;
    text-shadow: 2px 2px #FFF;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h3 {
    font-weight: normal;
    line-height: .75;
    color: #737474;
    font-size: 1.1;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h6 {
    font-weight: 500;
    line-height: 1.1;
    color: #EE7600;
    font-size: 2.2em;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: left;
}

h7 {
    font-weight: 100;
    line-height: 1.1;
    color: #9bc718;
    font-size: 1.8em;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: left;
}

h1, h2, h3, {
    margin-top: 20px;
    margin-bottom: 10px;
}

h4, h5, h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

h4, {
    font-size: 18px;
}

h5, {
    font-size: 14px;
}

h6, p {
    margin: 0 0 10px;
}

body p {
}

small {
    font-size: 85%;
}

mark {
    padding: .2em;
    background-color: #fcf8e3;
}

.text-center {
    text-align: center;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 10px;
    text-align: left;
    color: #737474;
}

dl {
    margin-top: 0;
    margin-bottom: 20px;
}

dt, dd {
    line-height: 1.42857143;
}

dt {
    font-weight: bold;
}

dd {
    margin-left: 0;
}

blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 17.5px;
    border-left: 5px solid #eee;
}

address {
    margin-bottom: 20px;
    font-style: normal;
    line-height: 1.42857143;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.row .col-lg-4.col-md-6.col-sm-6 address {
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #737474;
}

code, kbd, pre, samp {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

code {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}

kbd {
    padding: 2px 4px;
    font-size: 90%;
    color: #fff;
    background-color: #333;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .25);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .25);
}

pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.container {
    padding-right: 15px;
    padding-left: 35px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
    .container {
        width: 90%;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

@media (min-width: 768px) {
    .col-sm-6 {
        float: left;
        box-sizing: border-box;
    }

    .col-sm-6 {
        width: 50%;
    }
}

@media (min-width: 992px) {
    .col-md-6 {
        float: left;
    }

    .col-md-6 {
        width: 50%;
    }
}

@media (min-width: 1200px) {
    .col-lg-4, .col-lg-12 {
        float: left;
    }

    .col-lg-12 {
        width: 100%;
    }

    .col-lg-4 {
        width: 50%;
    }

    .container div h3 {
        margin: 2px 0;
        color: 737474;
    }
}

caption {
    padding-top: 8px;
    padding-bottom: 8px;
    color: #777;
    text-align: left;
}

fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: inherit;
    color: #333;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}

output {
    display: block;
    padding-top: 7px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
}

.form-control:-ms-input-placeholder {
    color: #999;
}

.form-control::-webkit-input-placeholder {
    color: #999;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

    .btn:hover {
        color: #333;
        text-decoration: none;
    }

.btn-danger {
    color: #fff;
    background-color: #287d87;
    border-color: #9bc718;
}

    .btn-danger:hover, .btn-danger.focus, .btn-danger.active {
        color: #fff;
        background-color: #9bc718;
        border-color: #287d87;
    }

    .btn-danger:active {
        background-image: none;
    }

.btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
    margin-bottom: 20px;
}

.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}

.jumbotron {
    padding: 0 15px;
    margin-bottom: 30px;
    color: inherit;
    background-color: #d6d6d6;
}

    .jumbotron h1 {
        color: inherit;
    }

    .jumbotron p {
        margin-bottom: 15px;
        font-size: 19px;
        font-weight: normal;
        color: #737474;
    }

.container .jumbotron {
    border-radius: 6px;
}

@media screen and (min-width: 768px) {
    .jumbotron {
        padding: 1px 0px 48px 0px;
    }

    .container .jumbotron {
        padding-right: 60px;
        padding-left: 60px;
    }

    .jumbotron h1 {
        font-size: 63px;
        color: #287d87;
        ;
    }
}

.thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}

    .thumbnail > img {
        margin-right: auto;
        margin-left: auto;
    }

@-webkit-keyframes progress-bar-stripes {
    from {
        background-position: 40px 0;
    }

    to {
        background-position: 0 0;
    }
}

@-o-keyframes progress-bar-stripes {
    from {
        background-position: 40px 0;
    }

    to {
        background-position: 0 0;
    }
}

@keyframes progress-bar-stripes {
    from {
        background-position: 40px 0;
    }

    to {
        background-position: 0 0;
    }
}

.progress.active .progress-bar, .progress-bar.active {
    -webkit-animation: progress-bar-stripes 2s linear infinite;
    -o-animation: progress-bar-stripes 2s linear infinite;
    animation: progress-bar-stripes 2s linear infinite;
}

.container:before, .container:after, .row:before, .row:after {
    display: table;
    content: " ";
}

.container:after, .row:after {
    clear: both;
}

@-ms-viewport {
    width: device-width;
}
/*# sourceMappingURL=bootstrap.css.map */

@media screen {
    .row div p {
    }

    .row .text-left p {
        text-align: left;
    }
}
