﻿
#action_display {
    margin: 0 auto;
    width: 218px;
}

    #action_display span {
        background: #32e6f1;
        padding: 5px 18px;
        color: white;
        font-size: 14px;
        cursor: pointer;
    }


    #action_display #cancel_visit_button {
        border-left: 1px solid white;
    }

    #action_display span:hover {
        background: #32848D;
    }
