﻿

    /*ui-dialog
        Main container of whole thing
    ui-dialog-title
        This is where the title actually appears
    ui-dialog-titlebar
        Area where title of fialog would be if exist
    ui-dialog-content
        Area where your div is actually loaded
    ui-resizable-handle
        These divs are used to resize the dialog but are usually invisble according to your setup
    ui-dialog-buttonpane
        Here is where buttons would go if exist
    ui-dialog-buttonset
        This is where the buttons actually appear*/

        .loginDialogClass
        {
            padding:8px;
            background: transparent url('/images/layout/window_outer_bg.png');
            cursor:pointer;

	        -moz-box-shadow: 1px 1px 3px 0 #929497;
  	        -webkit-box-shadow: 1px 1px 3px 0 #929497;
  	        box-shadow: 1px 1px 3px 0 #929497;

            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -o-border-radius: 10px;
            border-radius: 10px;

        }
         .loginDialogClass .ui-dialog-content
        {
            padding:0 30px 0 30px;
            background: transparent url('/images/layout/window_inner_bg.png');

            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -o-border-radius: 10px;
            border-radius: 10px;

        }
            .loginDialogClass #login_container {
                margin: 0;
                padding: 0;
                font-family: Helvetica;
                /*font-weight: 400;*/
                font-size: 16px;
                color: #287D87;
                /*letter-spacing: .08em;*/
                background: transparent;
                /*border:2px solid #444;

            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -o-border-radius: 5px;
            border-radius: 5px;*/
            }
         .loginDialogClass #login_container label {
            display: inline;
            color: #fff;
            font-weight: 400;
        }
         .loginDialogClass #login_container span.classWhite {
            display: inline;
            color: #fff;
            font-weight: 400;
            font-size:14px;
        }
        .loginDialogClass #login_container span.classWhite a {
            color:#fff;
            text-decoration: underline;
            border:none;
        }
        .loginDialogClass #login_container span.classWhite a:hover {
            text-decoration: none;
        }
                .loginDialogClass #login_container span.classGreen a {
                    color: #fff;
                    text-decoration: underline;
                    border: none;
                }
        .loginDialogClass #login_container span.classGreen a:hover {
            text-decoration: none;
        }

                .loginDialogClass #login_container span.classGreen {
                    display: inline;
                    color: #287D87;
                    font-weight: 400;
                }
         .loginDialogClass #login_container input[type=text], #login_container input[type=password] {
            width:225px;
            border:none;
            color:#fff;
            /*dd*/
            font-family: Helvetica;
            background:transparent;
            border-bottom: 1px solid #9bc718;
        }

                .loginDialogClass #login_container input[type=submit] {
                    width: 120px;
                    height: 35px;
                    padding: 0;
                    color: #fff;
                    font-size: 16px;
                    font-weight: normal;
                    border: none;
                    background: #287D87 url('/images/layout/green_pointer.png') no-repeat 90% 50%;
                }

                    .loginDialogClass #login_container input[type=submit]:hover {
                        background-color: #d3dce0;
                    }


        .loginDialogClass #popup_submit_button {
            font-family: 'ProximaNovaLtLight', sans-serif;
            position: absolute;
            bottom: -6px;
        }
            .loginDialogClass #popup_submit_button:hover {
                background: #d3dce0 url('/images/layout/green_pointer.png') no-repeat 90% 50%;
            }

        
