﻿
        #page_content { background:#fff; width:1150px; margin:0 auto 0 auto;}

        #top_display { height:60px; background:#fff;   }
        #breeder_name_display  { float:left; display:block; width:300px; margin:5px 100px 5px 0; padding:6px; background:#ccc;    }
        #species_name_display  { float:left; display:block; width:300px; margin:5px 0 5px 0; padding:6px; background:#ccc;    }

        #pointer_back_to_selections
        {
            width:200px;
            margin:15px 0 0 0;
            padding: 4px 0 4px 40px;
            font:normal normal bold 20px / 24px Georgia, serif;
            background: #fff url('/Images/icons/pointers/icon_point_left_green_032.png') no-repeat 0 0;
            color:#090;
            cursor:pointer;
        }
        #pointer_back_to_selections:hover
        {
            background-color:#eee;
        }
        #species_display { background:#fff; }
        #species_display img {float:left; margin:0 10px 0 0; padding:0;  }
        #species_display p { margin:6px; padding:1px; font:normal normal normal 14px/16px arial, tahoma, sans-serif; }
        #species_display h2 {
                font-size:18px;
                color:#287d87;
                font-weight:normal;
                margin-top:0;
                margin-bottom:10px;            
            }
        #species_display p:nth-child(3) {
            margin: 20px 0;
        }
       

        #middle_display { clear:both; height:200px; background:#fff;  border:solid 0px #000; }

        #middle_left_display { float:left; width: 600px;  background:#fff; overflow:hidden;}

        #middle_right_display {  float:left !important; width: 500px; background:#fff; font:normal normal normal 14px/16px arial, tahoma, sans-serif; color:#645653 }

        #middle_right_display select {  font-size:18px;  }
        #middle_right_display input {  font-size:20px;  }
        
        #grid_display, #inner_grid_display {clear:both; height:350px; clear: both; margin:0; padding:0; border:none; background:#fff;   }
        
        #outer_grid, #inner_grid {margin: 0; padding: 0; border: none; }
        #outer_grid tbody, #inner_grid tbody { margin:0; padding: 0;}
        #outer_grid tr, #inner_grid tr { margin: 0; padding: 0; background:#fff;}
        #outer_grid th, #inner_grid td { margin:0; padding: 4px;  font: normal normal bold 16px/20px arial, tahoma, sans-serif; border: solid 0px #eee; text-align:center;border-right: solid 1px #ddd;border-bottom: solid 1px #ddd;}
        /*#outer_grid th { border-right: solid 1px #fff;border-bottom: solid 1px #fff;}*/

        #inner_grid_display {height:200px; overflow-y: scroll;}
        #inner_grid td { font-weight: normal; text-align:right;}

        #outer_grid .head1_1 {    border-bottom: solid 1px #fff;   }
        #outer_grid .head1_2 {   color:#008000;  border-top: solid 1px #ddd; vertical-align:bottom; font-size:18px; }
        #outer_grid .head1_2 img {    margin-top:3px;  padding:0px; border:solid 0px #000;}
        #outer_grid .head1_2 span {    margin:0px 10px 0 10px;  padding:0; border:solid 0px #000;}
        #heading_Supplier {  border-right: solid 1px #fff;  }

        .order_quantity_inputs { margin:0; padding: 0; width: 80px; text-align: right;  background:#fff; color:#080;  }
        #total_order_label, #total_order_quantity { font-size:26px; text-align: right;  }
        #total_order_quantity {  }
        #add_to_cart { padding-left: 6px; font-size:20px; cursor:pointer; }
        #add_to_cart:hover { text-decoration:underline; background:#ddd; }
        
        #CultureLink  {	color: #9bc718;	text-decoration: underline}
        #CultureLink:hover {color: #287d87;Text-decoration: underline}


        #sort_by_product { margin-left:0; margin-right:0; padding-left:0; padding-right:0; text-decoration: underline; cursor:pointer; color:#008; }
        #sort_by_product:hover { color:#00f; }
            
        #grid_status { font: normal normal bold 14px/20px arial, tahoma, sans-serif; text-align:right;   }

        .heading_supplier_name, .col_Supplier { width: 165px;} 
        .heading_supplier_name { width: 125px;} 

        .heading_plant_variety, .col_plant_variety { width:275px;} 
        .heading_plant_variety { width:230px;} 
        
        
        
        .heading_product_form, .col_product_form { width:200px;} 
        .heading_product_form { width:180px;} 

        /*.heading_plant_variety { width:180px;}*/ 
        .heading_order_quantity, .col_order_quantity { width: 110px;  text-align:right; background:#ddd;} 
        
        .heading_week_plus_3, .col_week_plus_3 { width: 75px;} 
        .heading_week_minus_1, .col_week_less_1 { width: 65px;} 
        .heading_ship_week, .col_ship_week { width: 75px; background:#9f6;} 
        .heading_week_plus_1, .col_week_plus_1 { width: 65px;} 
        .heading_week_plus_2, .col_week_plus_2 { width: 65px;} 
        .heading_8, .col_8 { width: 10px;}
        .heading_8 { width: 20px;}
        .col_8 { width: 0px;}


