﻿html {
    background-color:#fff;
    margin: 0;
    padding: 0;
}

body {
	font: 100% / 1.5 Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
	color: #646563;
	background: #fff;

}

.spacer_gif { display:block; width:100%; height:1px; margin:0; padding:0; border:none; background: transparent;}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

/****************************  Deprecated stuff ******************/
/*@font-face
{
font-family: myFirstFont;
src: url('Sansation_Light.ttf'),
     url('Sansation_Light.eot'); /* IE9+ 
}
*/

/*
@font-face
{
font-family: GothamRnd;
    src: url('/Content/fonts/GothamRnd-Book.otf');
    font-weight: normal;
}
@font-face
{
font-family: GothamRnd;
    src: url('/Content/fonts/GothamRnd-Bold.otf');
    font-weight: bold;
}
@font-face
{
    font-family: GothamRnd;
    src: url('/Content/fonts/GothamRnd-Medium.otf');
    font-weight: 500;
}*/
/***********************************************************************/

/**********************New fonts from designer ******************************/
@font-face {
    font-family: 'ProximaNovaRgRegular';
    src: url('/Content/fonts/ProximaNova-Reg-webfont.eot');
    src: url('/Content/fonts/ProximaNova-Reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('/Content/fonts/ProximaNova-Reg-webfont.woff') format('woff'),
         url('/Content/fonts/ProximaNova-Reg-webfont.ttf') format('truetype'),
         url('../fonts/ProximaNova-Reg-webfont.svg#ProximaNovaRgRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNovaLtSemibold';
    src: url('/Content/fonts/ProximaNova-Sbold-webfont.eot');
    src: url('/Content/fonts/ProximaNova-Sbold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/Content/fonts/ProximaNova-Sbold-webfont.woff') format('woff'),
         url('/Content/fonts/ProximaNova-Sbold-webfont.ttf') format('truetype'),
         url('../fonts/ProximaNova-Sbold-webfont.svg#ProximaNovaLtSemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'ProximaNovaLtLight';
    src: url('/Content/fonts/ProximaNova-Light-webfont.eot');
    src: url('/Content/fonts/ProximaNova-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/Content/fonts/ProximaNova-Light-webfont.woff') format('woff'),
         url('/Content/fonts/ProximaNova-Light-webfont.ttf') format('truetype'),
         url('../fonts/ProximaNova-Light-webfont.svg#ProximaNovaLtLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

/****************************************************************************/


/* login
----------------------------------------------------------*/
#login_section {
    /*display: block;*/
    font-size: .85em;
    margin: 0 0 10px;
    text-align: right;
}

    #login_section a {
        /*background-color: #d3dce0;*/
        margin-left: 10px;
        margin-right: 3px;
        padding: 2px 3px;
        text-decoration: none;
    }

    #login_section a.username {
        background: none;
        margin: 0;
        padding: 0;
        text-decoration: underline;
    }

    #login_section ul {
        margin: 0;
    }

    #login_section li {
        display: inline;
        list-style: none;
    }




/* login page */
#loginForm {
    /*border-right: solid 2px #c8c8c8;*/
    float: left;
    width: 55%;
}

    #loginForm .validation-error {
        display: block;
        margin-left: 15px;
    }

    #loginForm .validation-summary-errors ul {
        margin: 0;
        padding: 0;
    }

    #loginForm .validation-summary-errors li {
        display: inline;
        list-style: none;
        margin: 0;
    }

    #loginForm input {
        width: 250px;
    }

    #loginForm input[type="checkbox"],
    #loginForm input[type="submit"],
    #loginForm input[type="button"],
    #loginForm button {
        width: auto;
    }

#socialLoginForm {
    margin-left: 40px;
    float: left;
    width: 40%;
}

    #socialLoginForm h2 {
        margin-bottom:  5px;
    }

#socialLoginList button {
    margin-bottom: 12px;
}

#logoutForm {
    display: inline;
}

/* forms */
fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

    fieldset legend {
        display: none;
    }

    fieldset ol {
        padding: 0;
        list-style: none;
    }

        fieldset ol li {
            padding-bottom: 5px;
        }

label {
    display: block;
    font-size: 1.2em;
    font-weight: 600;
}

label.checkbox {
    display: inline;
}

input, textarea {
    border: 1px solid #e2e2e2;
    background: #fff;
    color: #333;
    font-size: 1.2em;
    margin: 5px 0 6px 0;
    padding: 5px;
    
}

textarea {
    font-family: inherit;
    width: 500px;
}

    input:focus, textarea:focus {
        border: 1px solid #7ac0da;
    }

    input[type="checkbox"] {
        background: transparent;
        border: inherit;
        width: auto;
    }

    input[type="submit"],
    input[type="button"],
    button {
        background-color: #d3dce0;
        border: 1px solid #787878;
        cursor: pointer;
        font-size: 1.2em;
        font-weight: 600;
        padding: 7px;
        margin-right: 8px;
        width: auto;
    }

    td input[type="submit"],
    td input[type="button"],
    td button {
        font-size: 1em;
        padding: 4px;
        margin-right: 4px;
    }

/* info and errors */
.message-info {
    border: 1px solid;
    clear: both;
    padding: 10px 20px;
}

.message-error {
    clear: both;
    color: #e80c4d;
    font-size: 1.1em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.message-success {
    color: #7ac0da;
    font-size: 1.3em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.error {
    color: #e80c4d;
}

/* styles for validation helpers */
.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #e80c4d;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}

select {
	-webkit-appearance: none;
    width: 200px;
    overflow: hidden;
    background: transparent url('/Images/layout/down_arrow.png') 97.2% center no-repeat;
    border: 1px solid #aaa;
    padding: 10px;
    color: #737474;
    border-radius: 1px;
}

select#sellerSelector {
    margin-bottom: 10px !important;
}

select::-ms-expand {
	display: none;
}
/* ---------------------------*/

/* @group Base */
.chosen-container {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    /*font-size: 13px;*/
    zoom: 1;
    *display: inline;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

    .chosen-container * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .chosen-container .chosen-drop {
        position: absolute;
        top: 100%;
        left: -9999px;
        z-index: 10010;
        width: 200px;
        border: 1px solid #aaa;
        border-top: 0;
        background: #fff;
        box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
    }

    .chosen-container.chosen-with-drop .chosen-drop {
        left: 0;
    }

    .chosen-container a {
        cursor: pointer;
    }

    .chosen-container .search-choice .group-name, .chosen-container .chosen-single .group-name {
        margin-right: 4px;
        overflow: visible;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-weight: normal;
        color: #999999;
    }

        .chosen-container .search-choice .group-name:after, .chosen-container .chosen-single .group-name:after {
            content: ":";
            padding-left: 2px;
            vertical-align: top;
        }

/* @end */
/* @group Single Chosen */
.chosen-container-single .chosen-single {
    position: relative;
    display: block;
    overflow: visible;
    padding: 0 0 0 8px;
    height: 25px;
    /*border: 1px solid #aaa;*/
    border-radius: 5px;
    /*background-color: #fff;*/
    /*background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #ffffff), color-stop(50%, #f6f6f6), color-stop(52%, #eeeeee), color-stop(100%, #f4f4f4));
  background: -webkit-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
  background: -moz-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
  background: -o-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
  background: linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
  background-clip: padding-box;
  box-shadow: 0 0 3px white inset, 0 1px 1px rgba(0, 0, 0, 0.1);
  color: #444;*/
    text-decoration: none;
    white-space: nowrap;
    line-height: 24px;
    /*Scott*/
    border: 1px solid #202020;
    background: #9bc718;
    /*background: #202020 url("../JQuery/images/ui-bg_highlight-hard_75_202020_1x100.png") 50% 50% repeat-x;*/
    font-weight: normal;
    color: #202020;
    font-family: Lucida Grande,Lucida Sans Unicode,Lucida Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 1.1em;
    /*end Scott*/
}

.chosen-container-single .chosen-default {
    color: #999;
}

.chosen-container-single .chosen-single span {
    display: block;
    overflow: hidden;
    margin-right: 26px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.chosen-container-single .chosen-single-with-deselect span {
    margin-right: 38px;
}

.chosen-container-single .chosen-single abbr {
    position: absolute;
    top: 6px;
    right: 26px;
    display: block;
    width: 12px;
    height: 12px;
    background: url('../Images/chosen-sprite.png') -42px 1px no-repeat;
    font-size: 1px;
}

    .chosen-container-single .chosen-single abbr:hover {
        background-position: -42px -10px;
    }

.chosen-container-single.chosen-disabled .chosen-single abbr:hover {
    background-position: -42px -10px;
}

.chosen-container-single .chosen-single div {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 18px;
    height: 100%;
}

    .chosen-container-single .chosen-single div b {
        display: block;
        width: 100%;
        height: 100%;
        background: url('../Images/chosen-sprite.png') no-repeat 0px 2px;
    }

.chosen-container-single .chosen-search {
    position: relative;
    z-index: 1010;
    margin: 0;
    padding: 3px 4px;
    white-space: nowrap;
}

    .chosen-container-single .chosen-search input[type="text"] {
        margin: 1px 0;
        padding: 4px 20px 4px 5px;
        width: 100%;
        height: auto;
        outline: 0;
        border: 1px solid #aaa;
        background: white url('../Images/chosen-sprite.png') no-repeat 100% -20px;
        background: url('../Images/chosen-sprite.png') no-repeat 100% -20px;
        font-size: 1em;
        font-family: sans-serif;
        line-height: normal;
        border-radius: 0;
    }

.chosen-container-single .chosen-drop {
    margin-top: -1px;
    border-radius: 0 0 4px 4px;
    background-clip: padding-box;
}

.chosen-container-single.chosen-container-single-nosearch .chosen-search {
    position: absolute;
    left: -9999px;
}

/* @end */
/* @group Results */
.chosen-container .chosen-results {
    color: #444;
    position: relative;
    /*overflow-x: hidden;*/
    /*z-index: 999999 !important*/
    z-index: 999999 !important overflow-x: auto overflow-y: auto;
    margin: 0 4px 4px 0;
    padding: 0 0 0 4px;
    max-height: 240px;
    -webkit-overflow-scrolling: touch;
}

    .chosen-container .chosen-results li {
        display: none;
        margin: 0;
        padding: 5px 6px;
        list-style: none;
        line-height: 15px;
        word-wrap: break-word;
        -webkit-touch-callout: none;
    }

        .chosen-container .chosen-results li.active-result {
            display: list-item;
            cursor: pointer;
        }

        .chosen-container .chosen-results li.disabled-result {
            display: list-item;
            color: #ccc;
            cursor: default;
        }

        .chosen-container .chosen-results li.highlighted {
            background-color: #3875d7;
            background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #3875d7), color-stop(90%, #2a62bc));
            background-image: -webkit-linear-gradient(#3875d7 20%, #2a62bc 90%);
            background-image: -moz-linear-gradient(#3875d7 20%, #2a62bc 90%);
            background-image: -o-linear-gradient(#3875d7 20%, #2a62bc 90%);
            background-image: linear-gradient(#3875d7 20%, #2a62bc 90%);
            color: #fff;
        }

        .chosen-container .chosen-results li.no-results {
            color: #777;
            display: list-item;
            background: #f4f4f4;
        }

        .chosen-container .chosen-results li.group-result {
            display: list-item;
            font-weight: bold;
            cursor: default;
        }

        .chosen-container .chosen-results li.group-option {
            padding-left: 15px;
        }

        .chosen-container .chosen-results li em {
            font-style: normal;
            text-decoration: underline;
        }

/* @end */
/* @group Multi Chosen */
.chosen-container-multi .chosen-choices {
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0 5px;
    width: 100%;
    height: auto !important;
    height: 1%;
    border: 1px solid #aaa;
    background-color: #fff;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(1%, #eeeeee), color-stop(15%, #ffffff));
    background-image: -webkit-linear-gradient(#eeeeee 1%, #ffffff 15%);
    background-image: -moz-linear-gradient(#eeeeee 1%, #ffffff 15%);
    background-image: -o-linear-gradient(#eeeeee 1%, #ffffff 15%);
    background-image: linear-gradient(#eeeeee 1%, #ffffff 15%);
    cursor: text;
}

    .chosen-container-multi .chosen-choices li {
        float: left;
        list-style: none;
    }

        .chosen-container-multi .chosen-choices li.search-field {
            margin: 0;
            padding: 0;
            white-space: nowrap;
        }

            .chosen-container-multi .chosen-choices li.search-field input[type="text"] {
                margin: 1px 0;
                padding: 0;
                height: 25px;
                outline: 0;
                border: 0 !important;
                background: transparent !important;
                box-shadow: none;
                color: #999;
                font-size: 100%;
                font-family: sans-serif;
                line-height: normal;
                border-radius: 0;
            }

        .chosen-container-multi .chosen-choices li.search-choice {
            position: relative;
            margin: 3px 5px 3px 0;
            padding: 3px 20px 3px 5px;
            border: 1px solid #aaa;
            max-width: 100%;
            border-radius: 3px;
            background-color: #eeeeee;
            background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
            background-image: -webkit-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
            background-image: -moz-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
            background-image: -o-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
            background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
            background-size: 100% 19px;
            background-repeat: repeat-x;
            background-clip: padding-box;
            box-shadow: 0 0 2px white inset, 0 1px 0 rgba(0, 0, 0, 0.05);
            color: #333;
            line-height: 13px;
            cursor: default;
        }

            .chosen-container-multi .chosen-choices li.search-choice span {
                word-wrap: break-word;
            }

            .chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
                position: absolute;
                top: 4px;
                right: 3px;
                display: block;
                width: 12px;
                height: 12px;
                background: url('../Images/chosen-sprite.png') -42px 1px no-repeat;
                font-size: 1px;
            }

                .chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover {
                    background-position: -42px -10px;
                }

        .chosen-container-multi .chosen-choices li.search-choice-disabled {
            padding-right: 5px;
            border: 1px solid #ccc;
            background-color: #e4e4e4;
            background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
            background-image: -webkit-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
            background-image: -moz-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
            background-image: -o-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
            background-image: linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
            color: #666;
        }

        .chosen-container-multi .chosen-choices li.search-choice-focus {
            background: #d4d4d4;
        }

            .chosen-container-multi .chosen-choices li.search-choice-focus .search-choice-close {
                background-position: -42px -10px;
            }

.chosen-container-multi .chosen-results {
    margin: 0;
    padding: 0;
}

.chosen-container-multi .chosen-drop .result-selected {
    display: list-item;
    color: #ccc;
    cursor: default;
}

/* @end */
/* @group Active  */
.chosen-container-active .chosen-single {
    /*border: 1px solid #5897fb;*/
    /*box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);*/
}

.chosen-container-active.chosen-with-drop .chosen-single {
    /*border: 1px solid #aaa;
  -moz-border-radius-bottomright: 0;
  border-bottom-right-radius: 0;
  -moz-border-radius-bottomleft: 0;
  border-bottom-left-radius: 0;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #eeeeee), color-stop(80%, #ffffff));
  background-image: -webkit-linear-gradient(#eeeeee 20%, #ffffff 80%);
  background-image: -moz-linear-gradient(#eeeeee 20%, #ffffff 80%);
  background-image: -o-linear-gradient(#eeeeee 20%, #ffffff 80%);
  background-image: linear-gradient(#eeeeee 20%, #ffffff 80%);
  box-shadow: 0 1px 0 #fff inset;*/
    /*Scott*/
    border: 1px solid #202020;
    background: #9bc718;
    /*background: #202020 url("../JQuery/images/ui-bg_highlight-hard_75_202020_1x100.png") 50% 50% repeat-x;*/
    font-weight: normal;
    color: #202020;
    /*color: #ece328;*/
    font-family: Lucida Grande,Lucida Sans Unicode,Lucida Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 1.1em;
    /*end Scott*/
}

    .chosen-container-active.chosen-with-drop .chosen-single div {
        border-left: none;
        background: transparent;
    }

        .chosen-container-active.chosen-with-drop .chosen-single div b {
            background-position: -18px 2px;
        }

.chosen-container-active .chosen-choices {
    border: 1px solid #5897fb;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

    .chosen-container-active .chosen-choices li.search-field input[type="text"] {
        color: #222 !important;
    }

/* @end */
/* @group Disabled Support */
.chosen-disabled {
    opacity: 0.5 !important;
    cursor: default;
}

    .chosen-disabled .chosen-single {
        cursor: default;
    }

    .chosen-disabled .chosen-choices .search-choice .search-choice-close {
        cursor: default;
    }

/* @end */
/* @group Right to Left */
.chosen-rtl {
    text-align: right;
}

    .chosen-rtl .chosen-single {
        overflow: visible;
        padding: 0 8px 0 0;
    }

        .chosen-rtl .chosen-single span {
            margin-right: 0;
            margin-left: 26px;
            direction: rtl;
        }

    .chosen-rtl .chosen-single-with-deselect span {
        margin-left: 38px;
    }

    .chosen-rtl .chosen-single div {
        right: auto;
        left: 3px;
    }

    .chosen-rtl .chosen-single abbr {
        right: auto;
        left: 26px;
    }

    .chosen-rtl .chosen-choices li {
        float: right;
    }

        .chosen-rtl .chosen-choices li.search-field input[type="text"] {
            direction: rtl;
        }

        .chosen-rtl .chosen-choices li.search-choice {
            margin: 3px 5px 3px 0;
            padding: 3px 5px 3px 19px;
        }

            .chosen-rtl .chosen-choices li.search-choice .search-choice-close {
                right: auto;
                left: 4px;
            }

    .chosen-rtl.chosen-container-single-nosearch .chosen-search,
    .chosen-rtl .chosen-drop {
        left: 9999px;
    }

    .chosen-rtl.chosen-container-single .chosen-results {
        margin: 0 0 4px 4px;
        padding: 0 4px 0 0;
    }

    .chosen-rtl .chosen-results li.group-option {
        padding-right: 15px;
        padding-left: 0;
    }

    .chosen-rtl.chosen-container-active.chosen-with-drop .chosen-single div {
        border-right: none;
    }

    .chosen-rtl .chosen-search input[type="text"] {
        padding: 4px 5px 4px 20px;
        background: white url('../Images/chosen-sprite.png') no-repeat -30px -20px;
        background: url('../Images/chosen-sprite.png') no-repeat -30px -20px;
        direction: rtl;
    }

    .chosen-rtl.chosen-container-single .chosen-single div b {
        background-position: 6px 2px;
    }

    .chosen-rtl.chosen-container-single.chosen-with-drop .chosen-single div b {
        background-position: -12px 2px;
    }

/* @end */
/* @group Retina compatibility */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
    .chosen-rtl .chosen-search input[type="text"],
    .chosen-container-single .chosen-single abbr,
    .chosen-container-single .chosen-single div b,
    .chosen-container-single .chosen-search input[type="text"],
    .chosen-container-multi .chosen-choices .search-choice .search-choice-close,
    .chosen-container .chosen-results-scroll-down span,
    .chosen-container .chosen-results-scroll-up span {
        background-image: url('chosen-sprite@2x.png') !important;
        background-size: 52px 37px !important;
        background-repeat: no-repeat !important;
    }
}
/* @end */

/* GmB  Custom for JqueryUI Dialog*/
.chosen-container .chosen-results {
    max-height: 200px !important;
    overflow-y: auto;
    /*padding-top: 2px;*/
}

em.chosen-em {
    font-weight: bolder;
    font-style: normal;
    color: goldenrod;
    padding: 0 2px 0 2px;
    margin: 0;
    font-size: 1.1em;
}


