﻿

    #page_content {
    min-height: 500px;
    margin: 0 0 20px 0;
    padding: 0;
    border: dashed 0px #00f;
}

    #page_content h1 {
        font-family: 'ProximaNovaLtSemibold';
        font-weight: normal;
        font-size: 25px;
        line-height: 1.5;
        color: #287d87;
        vertical-align: baseline;

        /*-webkit-margin-before: 0.67em;
        -webkit-margin-after: 0.67em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;*/

    }
