﻿#page_content {
    min-height: 500px;
    margin: 0 0 20px 0;
    padding: 0;
    border: dashed 0px #00f;
	min-width: 320px;
}

    #page_content h1 {
        font-family: 'ProximaNovaLtSemibold';
        font-weight: normal;
        font-size: 25px;
        line-height: 1.5;
        color: #287d87;
        vertical-align: baseline;
    }

    /****************** Manage Users Grid *******************************/

    #manage_users_grid_template{
       display: none;

    }
    #manage_users_grid {
        font: normal normal normal 13px/1.5 Helvetica, Arial, sans-serif;
        line-height: 1;

    }
    .manage_users_edit_links, .manage_users_delete_links {
            display: inline-block;
            text-decoration: none;
            cursor: pointer;
        }
    
    .site_preferences_radio_group_display input[type='radio'] {
        font: normal normal normal 13px/1.5 Helvetica, Arial, sans-serif;
        line-height: 1;

    }
    #manage_users_grid label {
        font: normal normal normal 13px/1.5 Helvetica, Arial, sans-serif;
        line-height: 1;

    }
    


    #manage_users_grid thead tr th {
        padding:10px 0 10px 0;
        font-weight: bold;
        text-align:left;
    }
    #manage_users_grid thead tr th:nth-child(1) {
        width:200px;
    }
    /*#manage_users_grid thead tr th:nth-child(2) {
        width:300px;
    }
    #manage_users_grid thead tr th:nth-child(3) {
        width:30px;
    }*/
    .manage_users_grid_rows {

    }

   /******************** User Input Form *************************/
   
   #user_input_container_template{
       display: none;
   } 
   #user_input_container{
       width:850px;
       border:dotted 0px #f00;
   }

    div.item_display {
        margin-top: 15px;
        padding: 0;
        color: #737474 ;
        overflow: hidden;
        border-bottom: 1px solid #9bc718;	
    }
   .input_displays {
    display: inline-block;
    height:30px;
    border-left: 1px solid #9bc718;
}
    
    
label,
input[type=text],
input[type=password],
.validation_messages {
	display: inline-block;
	border: none;
	margin: 0;
    font: normal normal normal 13px/1.5 Helvetica, Arial, sans-serif;
	line-height: 1;
}

label {
	display: inline-block;
	padding-right: 20px;
}

input[type=text],
input[type=password] {
    width:200px;
}

input[type=radio] {
    width:20px;
    margin:0;
    padding:0;
    border:none;
}
.validation_messages{
    color:#c00;
    font-size: 70%;
    font-weight: bold;
    letter-spacing: .08em;
}

label.required_fields {
    background:transparent url('/images/icons/registration_icon_required_16.png') no-repeat 100% 0%;
}
label.invalid_fields {
    background:transparent url('/images/icons/registration_icon_error_16.png') no-repeat 100% 0%;
}
label.valid_fields {
    background:transparent url('/images/icons/registration_icon_valid_16.png') no-repeat 100% 0%;
}


/************** Selectors **********************/

.radio_group_containers {
    margin: 0;
    padding:10px 0 5px 0;
}
.radio_group_containers p {
    margin: 0;
    padding: 4px 0 4px 0;
    font: normal normal normal 13px/1.5 Helvetica, Arial, sans-serif;
}

span.radio_group_display{
    margin:0;
    padding:0;
}

#company_role_radio_container, #site_permissions_radio_container {
    margin-top:15px;
    padding:0 ;
    border-bottom: 1px solid #9bc718;
}
#company_role_selection_container {
}

#company_role_selection_container p, #site_permissions_selection_container p {
    margin: 0;
    padding: 0;
    font: normal normal normal 13px/1.5 Helvetica, Arial, sans-serif;

}
.selection_group_multiple_displays, .selection_group_singular_displays {
    margin:0;
    padding:8px;
}
.selection_group_multiple_displays span, .selection_group_singular_displays span {
    display: inline-block;
    margin: 0 30px 5px 0;
    padding: 4px 0 4px 20px;
    font: normal normal normal 13px/1.5 Helvetica, Arial, sans-serif;
    color: #737474 ;
    cursor: pointer;
}



.selected {
    background:url(/images/layout/checkbox_checked_bg.png) 0 3px no-repeat;
}

.unselected {
    background: url(/images/layout/checkbox_bg.png) 0 9px no-repeat;
}
    
.disabled {
    background: url(/images/layout/checkbox_disabled_bg.png) 0 9px no-repeat;
}
    
    
/**************** Action Buttons ******************************/    
    #button_display {
    text-align: center;
}

.action_buttons, .action_buttons_disabled {
    text-align: right;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 12px;
    display: inline-block;
    margin-left:5px;
	padding:6px 22px;
	color:#2f818e;
    text-decoration: none;
	background-color:#9bc718;
	border:1px solid #2f818e;
    cursor: pointer;
}
	.action_buttons:hover {
		border:1px solid #9bc718;
		background-color:#2f818e;
		color:#9bc718;
	}
.action_buttons_disabled {
    display: none;
}


    
    
    
    
    
    
    
    
    
    
    
    
    
         /************** Accordion Styles *******************/

    .accordions_collapsed, .accordions_expanded, .accordions_disabled {
        margin: 0 0 20px 0;
        padding: 0;
        border-bottom: solid 1px #eee;
    }

    h2.accordion_header_bars {
        clear: both;
        margin: 0 0 10px 0;
        padding: 3px 0 0 20px;

        font-family: Helvetica, Arial, sans-serif;
        font-weight: normal;
        font-size: 18px;
        line-height: 1.5;
        color: #646563;
        cursor:pointer;
        vertical-align: baseline;
        background: #CFD1D3 url(/images/layout/cart_header_pointer.png) 0 center no-repeat;
        border: none;
        -webkit-margin-before: 0.83em;
        -webkit-margin-after: 0.83em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
    }

    .accordion_header_bars:hover {
        background: #dcdcdc url(/images/layout/MyAccountArrowDown.png) 0 center no-repeat;
    }

    .accordions_disabled{

    }
    .accordion_displays {
        display:none;

    }
    .accordions_disabled .accordion_header_bars{
        background-image:url('/images/layout/MyAccountArrowDown.png');
    }

    .accordion_disabled_displays {
        display:none;
        margin:0;
        padding:4px 0 4px 25px;
    }

    .accordions_disabled .accordion_disabled_displays{
        display: block;
    }

