﻿@model ePS.Models.CatalogueSearch_1PageModel

@{
    ViewBag.Title = ViewBag.Title ?? "Catalogue";
}

@section styles {
    <style type="text/css">

        #page_content
        {
            height:400px;
        }

        #category_selection_display {
            /*float:left;*/
            position:absolute;
            top:125px;
            left:650px;
            width:175px;
            margin:0;
            padding:15px;
            background: #fff;
            border:dotted 1px #00f;
        }

        #category_selection_display h2 {
            margin:0;
            padding:4px;
            font: normal normal bold 20px/24px arial, tahoma sans-serif;
            text-align:left;
            border:dotted 0px #f00;
        }

        #category_selection_list {
            margin:0;
            padding:10px;
            list-style:none;
        }
        #category_selection_list li {
            margin:0;
            padding:3px;
            cursor:pointer;
            font: normal normal normal 16px/20px arial, tahoma sans-serif;
        }

        #category_selection_list li:hover {
            cursor:pointer;
            background:#ccc;
        }
        .SelectedCategorys {
            color: #f00;
            font-weight: bold;
        }
        .unSelectedCategorys {
            color: #333;
        }

        /*******************************************************************/

        .availableProductForms {
            color: #f00;
        }
        .unavailableProductForms {
            color: #333;
        }

        #product_form_selection_display {
            position:absolute;
            /*top:275px;*/
            /*left:425px;*/
            top:275px;
            left:825px;
            width:175px;
            margin:0;
            padding:10px;
            background: #fff;
            border:dotted 1px #00f;
        }

        #product_form_selection_display h2 {
            margin:0;
            padding:4px;
            font: normal normal bold 20px/24px arial, tahoma sans-serif;
            text-align:left;
            border:dotted 0px #f00;
        }
        #product_form_selection_display h5 {
            margin:0;
            padding:4px;
            font: normal normal normal 16px/20px arial, tahoma sans-serif;
            text-align:left;
            color:#f00;
            border:dotted 0px #f00;
        }
        

        #product_form_selection_list {
            margin: 0 0 0 40px;
            padding:5px;
            list-style:none;
        }
        #product_form_selection_list li {
            margin:0;
            padding:3px;
            cursor:pointer;
            font: normal normal normal 16px/20px arial, tahoma sans-serif;
        }

        #product_form_selection_list li:hover {
            cursor:pointer;
            background:#ccc;
        }


    </style>
}
<div id="page_content">

    <p style="display:none;" >Current Selections: Page:[@ViewBag.Title] Category:[@Model.SelectedCategory.Name]</p>

    <div id="selection_region_container">

        @{
            string SelectedCategorysClassName = "SelectedCategorys";
            string unSelectedCategorysClassName = "unSelectedCategorys";
            //string catalogueClassName = string.Empty;
        }

        <div id="category_selection_display">
            <h2>Category:</h2>
            <ul id="category_selection_list">
                @foreach (var category in Model.CategoryCollection) {
                    bool isSelected = (category.Key == Model.SelectedCategory.Key);
                    var categoryClassName = isSelected ? SelectedCategorysClassName : unSelectedCategorysClassName;
                    var categoryClickEvent = "onclick = window.location.href='/home/catalogue/" + category.Key + "';";
                    categoryClickEvent = !isSelected ? categoryClickEvent : string.Empty;
                    <li class="@categoryClassName" @categoryClickEvent >@category.Name</li>
                }
            </ul>
        </div>

        @{ 
            if(Model.SelectedCategory.IsLoaded) {


                string productFormClassName = "productForms";
                string productFormClickEvent = string.Empty;
                <div id="product_form_selection_display">
                    <h2>Product Form:</h2>
                    @*<h5>@Model.SelectedCategory.Name:</h5>*@
                    <ul id="product_form_selection_list">
                        @foreach (var productForm in Model.ProductFormCollection)
                        {
                            productFormClickEvent = "onclick = window.location.href='/home/catalogue/" + Model.SelectedCategory.Key + "?ProductForm=" + @productForm.Code + "';"; ;
                            <li class="@productFormClassName" @productFormClickEvent >@productForm.Name</li>
                        }
                    </ul>
                </div>
            }
        }
    </div>

</div>
@section scripts {
    <script type="text/javascript">

        var SelectionScope = new Object;
        SelectionScope.CatalogueKey = "@Model.SelectedCategory.Key";
        SelectionScope.CatalogueName = "@Model.SelectedCategory.Name";

        var PageState = new Object;
        PageState.CategorySelectionDisplay = $("#category_selection_display");
        PageState.FormSelectionDisplay = $("#product_form_selection_display");
        PageState.CatalogeNavigationLink = $("#main_navigation_link_catalogue");
        PageState.LocateCategorySelectionDisplay = function () {
            var offset = PageState.CatalogeNavigationLink.offset();
            PageState.CategorySelectionDisplay.css("left", offset.left);
            PageState.LocateFormSelectionDisplay();
        };
        PageState.LocateFormSelectionDisplay = function () {
            var hoffset = PageState.CategorySelectionDisplay.offset();
            PageState.FormSelectionDisplay.css("left", hoffset.left + 185);
            var selectedCategory = $("#category_selection_list li.SelectedCategorys");
            if (selectedCategory.length > 0){
                var voffset = selectedCategory.offset();
                PageState.FormSelectionDisplay.css("top", voffset.top-5);
            };

        };
        PageState.Init = function () {
            $(window).on("resize", function () {
                PageState.LocateCategorySelectionDisplay();
            });
            PageState.LocateCategorySelectionDisplay();

        };


        $(document).ready(function () {
            var breadCrumbs = [];
            breadCrumbs.push({ Id: "bread_crumb_0", Type: "anchor", Text: "Home page", Href: "/", Title: "Home Page", State: "Active" });
            if (SelectionScope.CatalogueName.length > 0) {
                breadCrumbs.push({ Id: "bread_crumb_1", Type: "anchor", Text: "Catalogue", Href: "/home/catalogue/", Title: "Category selection", State: "Active" });
                breadCrumbs.push({ Id: "bread_crumb_2", Type: "span", Text: "Plant Form", Href: "", Title: "Plant Form Selection", State: "Active" });
            } else {
                breadCrumbs.push({ Id: "bread_crumb_3", Type: "span", Text: "Catalogue", Href: "", Title: "Catalogue Page", State: "Active" });
            };
            breadCrumbModel.ClearDisplay();
            //breadCrumbModel.Display(breadCrumbs);

            $("#main_navigation_link_catalogue").removeClass().addClass("main_navigation_links_selected");

            

        });

    </script>
}

