﻿@{
    ViewBag.Title = "Editor";
}

<h2>Editor</h2>


<div id="page_content">

    <h4 class="edit_area_labels">Edit Css</h4>
    <div id="editor_css_container" class="edit_area">A whole bunch of stuff here.  CSS stuff.</div>
    
    <h4 class="edit_area_labels">Edit Html</h4>
    <div id="editor_html_container" class="edit_area">And some HTML here.</div>

@*    <div id="selector_guid_container" class="editable"></div>*@


</div>






@section scripts {
    <script src="~/Scripts/jquery.jeditable.mini.js"></script>
    <script src="~/Scripts/pageScripts/Editor.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {

            viewModel.init();


            $('.edit_area').editable('http://www.example.com/save.php', {
                type: 'textarea',
                //data:"Here is some data to edit.",
                rows: 30,
                
                cols:200,
                cancel: 'Cancel',
                submit: 'OK',
                indicator: '<img src="img/indicator.gif">',
                tooltip: 'Click to edit...'
            });



            //$('.editable').editable('http://www.example.com/save.php', {
            //    data: " {'E':'Letter E','F':'Letter F','G':'Letter G', 'selected':'F'}",
            //    type: 'select',
            //    submit: 'OK'
            //});

        });

    </script>
    

}



@section styles {
    <link href="~/Content/styles/Editor.css" rel="stylesheet" />
    <style type="text/css">

    </style>
}
