﻿
body {
margin: 0;
padding: 0;	
}

#footer_content {
	width: 100%;
	max-width: 100%;
	background-color: #93BEC3;
	font-family: 'ProximaNovaRgRegular';
	color: #fff;
	clear: both;
	margin: 0;
	line-height: 1.2;
	/*position: relative;*/
	font-size: 16px;
	padding: 3% 0;
    display:block;
}


#footernav ul {
	padding-left: 30px;
	margin: 0;
	list-style: none;
}

#footernav li {
		margin: 5px 0;
	}
	
#footernav li a {
		color: #fff !important;
		text-decoration: none;
		font-size: 18px;
	}

#socmed {
	float: right;
	width: auto;
	margin-right: 30px;
}

#socmed img {
	margin-right: 5px;
}
	
#address {
	clear: both;
	padding-top: 1%;
	padding-left: 30px;
	font-size: 14px;
}

#copyright {
   font-size: .8em;
   width: 100%;
   clear: both;
   text-align: center;	
}



@media all and (max-width: 768px) {
#socmed {
	float: none;
	width: 100%;
	text-align: center;
}

#footernav ul {
	padding: 10px 0;
	margin: 0;
	list-style: none;
	text-align: center;
}

#address {
	clear: both;
	padding: 0px;
	text-align: center;
}
 

}



