﻿@model ePS.Models.CatalogDetailPartialPageModel


<div id="content_display">

<h1>Product Detail Partial Page</h1>

<div id="top_display">
    <div id="pointer_back_to_selections">
            Back to Selections
    </div>
   
</div>

<div id="middle_display">
    

    <div id="middle_left_display" style=" border: dotted 0px #f00;" >    
        <div id="species_display">
            <img src="@Model.VarietyImageUrl" title="@Model.VarietyImageUrl" alt=""/>
            <p>@Model.SpeciesName</p>
            <p>@Model.VarietyName</p>
            <p>Breeder: @Model.BreederName</p>
            <p></p>
            <p style="color:#aaa;">Color: @Model.ColorDescription</p>
            <p style="color:#aaa;">Habit: @Model.Habit</p>
            <p style="color:#aaa;">Vigor: @Model.Vigor</p>
            

        </div>
    </div>
    
   
    <div id="middle_right_display" style=" border: dotted 0px #f00;" >    
        <div id="content_display_description">
            
            <p>Note: Choose variety with description in content table and the description will appear here!</p>
        </div>

    </div>

</div>

</div>

