﻿@*@model ePS.Models.CatalogSearchPageModel*@

@{
    ViewBag.Title = ViewBag.Title ?? "CatalogSearch";
    ViewBag.ShowTestInfo = ViewBag.ShowTestInfo ?? false;

}

@if (ViewBag.ShowTestInfo)
{
    <div id="test_container" style="width:100%; border:dotted 2px lightgray;">
        URL = <span id="test_url_mode"></span>
        &nbsp;|&nbsp;
        <span id="test_url_category"></span>
        &nbsp;|&nbsp;
        <span id="test_url_form"></span>
        &nbsp;|&nbsp;
        <span id="test_url_suppliers"></span>
        &nbsp;|&nbsp;
        <span id="test_url_species"></span>
        &nbsp;|&nbsp;
        <span id="test_url_product"></span>
        <br />
        Selections = <span id="test_selections_mode"></span>
        &nbsp;|&nbsp;
        <span id="test_selections_category_code"></span>
        &nbsp;|&nbsp;
        <span id="test_selections_category_name"></span>
        &nbsp;|&nbsp;
        <span id="test_selections_form_code"></span>
        &nbsp;|&nbsp;
        <span id="test_selections_form_name"></span>
        &nbsp;|&nbsp;
        <span id="test_selections_product"></span>

        <button onclick="window.location.href='../../catalog/va/lin#kno,hiq/29,30,c7/z1966'">Full Link</button>
        <button onclick="window.location.hash='#rak,KUb/5,16,28,37,80/Z1812'">Change Hash</button>
        <button onclick="window.location.hash=''">Empty Hash</button>
        <button onclick="viewModel.displayVarietyDetailDialog(model.url.productCode)">Display Variety</button>
        
        //viewModel.displayVarietyDetailDialog = function (varietyCode)
    </div>
}

<div id="page_content">
    <div id="left_region_container">
        <div id="left_region_container">

            <div id="supplier_selection_container">
                <p>
                    <span class="selection_title">Suppliers:</span>
                    <span class="selection_select_all">[all]</span>
                    &nbsp;&nbsp;&nbsp;
                    <span class="selection_clear_all">[clear]</span>
                </p>
                <img id="suppliers_loading_icon" class="loadingIcons" src="~/Images/icons/icon_loading_bar_green.gif" alt="Suppliers are loading." />
                <div id="supplier_selection_display">
                    <ul id="supplier_selection_list"></ul>
                </div>

            </div>
            <div id="species_selection_container">
                <p>
                    <span class="selection_title">Species:</span>
                    <span class="selection_select_all">[all]</span>
                    &nbsp;&nbsp;&nbsp;
                    <span class="selection_clear_all">[clear]</span>
                </p>
                <img id="species_loading_icon" class="loadingIcons" src="~/Images/icons/icon_loading_bar_green.gif" alt="Species are loading." />
                <div id="species_selection_display">
                    <ul id="species_selection_list">  </ul>
                </div>
            </div>
        </div>
    </div>

    <div id="right_region_container">
        <div id="new_paging_scrollbar_container">
            <div id="new_scrollbar_up_button" class="new_scrollbar_up_button_enabled" title=" up one "><img src='/images/image_transparent__25x25.gif' alt='' /></div>  @*stop click through*@
            <div id="new_paging_scrollbar">
                <div id="new_paging_scrollbar_handle"></div>
            </div>
            <div id="new_scrollbar_down_button" class="new_scrollbar_down_button_enabled" title=" down one "><img src='/images/image_transparent__25x25.gif' alt='' /></div>  @*stop click through*@
        </div>



        <div id="paging_scrollbar_container">
            <div id="scrollbar_up_button" class="scrollbar_up_button_enabled" title=""><img src='/images/image_transparent__25x25.gif' alt='' /></div>  @*stop click through*@
            <div id="paging_scrollbar"></div>
            <div id="scrollbar_down_button" class="scrollbar_down_button_enabled" title=""><img src='/images/image_transparent__25x25.gif' alt='' /></div>  @*stop click through*@
        </div>

        <div id="paging_status_display">

            <span><span id="variety_display_varieties_count">??</span> results</span>

        </div>
        <img class="loadingIcons" src="~/Images/icons/icon_loading_bar_green.gif" alt="Varieties are loading." />
        <div id="variety_sets_display">
            <!-- This will be filled with Variety Sets at run time -->
            no data loaded!
        </div>
    </div>
</div>



@section scripts {
    @* Use Bundle for PRODuction*@
    @*@Scripts.Render("~/bundles/PageScripts/Catalog")*@

    @*Use files during Development*@
    <script src="~/Scripts/numeral.min.js"></script>
    <script src="~/Scripts/pageScripts/CatalogV2.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            //retrieve data passed from controller
            model.selectionState.mode = '@ViewData["Mode"]';
            console.log('model.selectionState.mode', model.selectionState.mode);
            if (model.selectionState.mode == 'catalog') {
                model.selectionState.plantCategoryCode = "@ViewData["CategoryKey"]";
                model.selectionState.plantCategoryName = "@ViewData["CategoryName"]";
                model.selectionState.productFormCode = "@ViewData["FormKey"]";
                model.selectionState.productFormName = "@ViewData["FormName"]";

                $('#test_selections_mode').text('Mode: ' + model.selectionState.mode).show();
                $('#test_selections_category_code').text('CategoryCode: ' + model.selectionState.plantCategoryCode).show();
                $('#test_selections_category_name').text('CategoryName: ' + JSON.stringify(model.selectionState.plantCategoryName)).show();
                $('#test_selections_form_code').text('FormCode: ' + model.selectionState.productFormCode).show();
                $('#test_selections_form_name').text('FormName: ' + JSON.stringify(model.selectionState.productFormName)).show();
                $('#test_selections_product').text('Product: ' + model.selectionState.productCode).show();

            } else if (model.selectionState.mode == 'product') {
                model.selectionState.productCode = "@ViewData["ProductCode"]";
                $('#test_selections_mode').text('Mode: ' + model.selectionState.mode).show();
                $('#test_selections_category').text('').hide();
                $('#test_selections_form').text('').hide();
                $('#test_selections_suppliers').text('').hide();
                $('#test_selections_species').text('').hide();
                $('#test_selections_product').text('Product: ' + model.selectionState.productCode).show();
            } else {
            };

            model.url.parse();

            //Setup Bread Crumbs
            var breadCrumbs = [];
            breadCrumbs.push({ Id: "", Type: "anchor", Text: "Home", Href: "/", Title: "Home Page", State: "Active" });
            breadCrumbs.push({ Id: "bread_crumb_5", Type: "span", Text: "Catalog", Href: "", Title: "You are here.", State: "Active" });
            breadCrumbs.push({ Id: "bread_crumb_6", Type: "span", Text: model.selectionState.plantCategoryName + " " + model.selectionState.productFormName, Href: "", Title: "You are here.", State: "Active" });
            breadCrumbModel.ClearDisplay();
            breadCrumbModel.Display(breadCrumbs);

            //Set Main Menu Selection
            $("#main_navigation_link_catalogue").removeClass().addClass("main_navigation_links_selected");

            //Init View Model
            viewModel.init();
        });
    </script>

}

@section styles {
    <link href="~/Content/styles/CatalogV2.css" rel="stylesheet" />
    <style type="text/css">
        #page_content {
            clear: both;
        }
    </style>
}
