﻿@{
    //Layout = null;
}





<div id="content_display" ng-app="catalogApp" style="clear:both;">

    <div ng-controller="catalogController">







        <div id="checklist_display" style="margin:10px 0 5px 0; padding:3px 0 3px 20px; border:solid 1px springgreen">
            <label>Display:</label>
            <span ng-repeat="checkBox in checkBoxes">
                <input type="checkbox" ng-model="checkBox.selected" ng-click="{{checkBox.onClick}}"> {{checkBox.text}}
            </span>
        </div>

        <div ng-show="checkBoxes[4].selected" style="margin:10px 0 10px 0;padding:6px; border:solid 2px gray; border-radius: 5px;overflow:auto">
            <button type="button" class="btn btn-xs btn-info" ng-click="dataGet()"> Get Data </button>
            {{ catalog.data | json }}
        </div>

        <div id="simple-button-toolbar" class="" ng-show="checkBoxes[1].selected">
            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group" role="group" aria-label="First group">
                    <button type="button" class="btn btn-default" ng-click="dataSetsClear();setPath('catalog','/va/pre/DGI,LUC');processUrl([selectionsSet]);">Suppliers</button>
                    <button type="button" class="btn btn-default" ng-click="dataSetsClear();setPath('catalog','/PER/RC/RAK,CEN,EUR,GRE,GNS,GUL,SKA,TER/5,6,8,18,10,ATM,14,43,15,16,19,22,23,25,29,30,31,32,39,35,36,AGZ');processUrl([selectionsSet])">Species</button>

                    <button type="button" class="btn btn-default" ng-click="dataSetsClear();setPath('catalog','/GER/RC/BUR,RAK,DGI,EUR,GUL,WEL,HIQ,LIN,LUC,MLM,MIL,PLU,SUN,WEN/PLI,PLP,PLH,PLS,PL');processUrl([selectionsSet]);">Varieties</button>
                    <button type="button" class="btn btn-default" ng-click="dataSetsClear();setPath('catalog','/VA/PRE/DGI,LUC/16,37/C1005');processUrl([selectionsSet]);">Product</button>
                </div>
                <div class="btn-group" role="group" aria-label="Second group">
                    <button type="button" class="btn btn-default" ng-click="dataSetsClear();setPath('catalog','/gEr/pre/$/PLI,PLP,PLH,PLS,PLZ');processUrl([selectionsSet]);">Suppliers=$</button>
                    <button type="button" class="btn btn-default" ng-click="dataSetsClear();setPath('catalog','/MUM/rc/RAK,DGI,LIN,LUC,MLM,MIL/$');processUrl([selectionsSet]);">Species=$</button>
                    <button type="button" class="btn btn-default" ng-click="dataSetsClear();setPath('product','/b1043');processUrl([selectionsSet]);">ProductMode</button>
                </div>
                <div class="btn-group" role="group" aria-label="Third group">
                    <button type="button" class="btn btn-info" ng-click="processUrl()">ProcessUrl</button>
                </div>
            </div>
        </div>

        <div ng-show="checkBoxes[2].selected" style="padding:0 0 5px 20px; border:solid 1px steelblue;">
            <h3>Mode: {{catalog.mode}}</h3>

            <div ng-show="catalog.mode=='product'">
                <p>Product Code: <b>{{catalog.productCode}}</b></p>
            </div>

            <table ng-show="catalog.mode=='catalog'">

                <tr>
                    <td style="text-align:right;">Category: </td>
                    <td style="color: black;font-size:120%;font-weight:bold;">{{catalog.categoryCode}}</td>
                </tr>
                <tr>
                    <td style="text-align:right;">Form: </td>
                    <td style="color: black;font-size:120%;font-weight:bold;">{{catalog.productFormCode}}</td>
                </tr>
                <tr>
                    <td style="text-align:right;">Suppliers: </td>
                    <td style="color: black;font-size:120%;font-weight:bold;">{{catalog.supplierCodes}}</td>
                </tr>
                <tr>
                    <td style="text-align:right;">Species: </td>
                    <td style="color: black;font-size:120%;font-weight:bold;">{{catalog.specieCodes}}</td>
                </tr>
                <tr>
                    <td style="text-align:right;">Product: </td>
                    <td style="color: black;font-size:120%;font-weight:bold;">{{catalog.productCode}}</td>
                </tr>
                <tr>
                    <td style="text-align:right;">ShipWeek: </td>
                    <td style="color: black;font-size:120%;font-weight:bold;">{{catalog.shipWeekString}}</td>
                </tr>
            </table>
        </div>




        <div id="catalog_container" class="col-md-12" ng-show="checkBoxes[0].selected">
            <h3>Catalog Page - <small>under development</small></h3>


            <div class="col-md-2 catalog_column_left">
                left column
            </div>
            <div class="col-md-9 catalog_column_center">
                @*{{slider.selectedVariety}}

                <button ng-click="slider.update(66);"></button>
                <br />*@

                <div id="catalog_images_display">

                    <div class="variety-thumb-displays variety_set_list_item"
                         ng-click="varietyDetailDisplay(slider.selectedVariety.Code)"
                         style="display:inline-block; padding:5px 5px 30px 5px;">
                        <img class="variety-images"
                             ng-src="{{ slider.selectedVariety.ThumbnailImageUrl }}"
                             style=""
                             alt="" />
                        <p>{{slider.selectedVariety.Name}}</p>
                        <p>{{slider.selectedVariety.GeneticOwnerName}}</p>
                    </div>

                </div>
            </div>
            <div class="col-md-1 catalog_column_right">
                <div id="catalog_images_slider">
                    @*<div class="catalog_slider_buttons" ng-click="slider.update(0);"><i class="fa fa-angle-double-up"></i></div>
                    <div class="catalog_slider_buttons" ng-click="slider.update(Number(slider.value) - 10);"><i class="fa fa-angle-up"></i></div>*@

                    <input ng-model="slider.value" type="text" id="mySlider1" slider options="slider.options" />

                    @*<div class="catalog_slider_buttons" ng-click="slider.update(Number(slider.value) + 10);"><i class="fa fa-angle-down"></i></div>
                    <div class="catalog_slider_buttons" ng-click="slider.update(Number(slider.options.to));"><i class="fa fa-angle-double-down"></i></div>*@
                </div>

            </div>
        </div>


        <div style="clear:both;" class="col-md-12">
            <div ng-show="catalog.searching" class="alert alert-warning" role="alert">
                <span class="glyphicon glyphicon-refresh spinning"></span> Searching ...
            </div>




            @*<div id="catalog_varieities_display"
                 style="width:850px; border:dotted 1px lightgray;">
                <div id="variety_sets_display"
                     ng-repeat="specie in catalog.data.Species | orderBy: 'Name'">
                    <h3>{{specie.Name}}</h3>
                    <div class="variety-thumb-displays variety_set_list_item"
                         ng-repeat="variety in varietiesInSpecies(specie.Code) | orderBy: 'Name' "
                         ng-click="varietyDetailDisplay(variety.Code)"
                         style="display:inline-block; padding:5px 5px 30px 5px;">
                        <img class="variety-images"
                             ng-src="{{variety.ThumbnailImageUrl}}"
                             style=""
                             alt="" />
                        <p>{{variety.Name}}</p>
                        <p>{{variety.GeneticOwnerName}}</p>
                    </div>
                </div>
            </div>*@

        </div>

        <div ng-show="checkBoxes[3].selected" style="margin:10px 0 0 0; padding:0; border:solid 0px steelblue;">

            @*<h3>Data:</h3>*@


            <div>
                @*<img ng-show="product" ng-src="{{product.VarietyImageUrl}}" alt="" style="width:100px; height:100px;" />*@
                <label>Product retrieved: [{{catalog.productCode}}] - <span ng-show="product">{{ product.VarietyName }}</span></label>
                <table ng-show="product" class="table table-striped table-condensed">
                    <thead>
                        <tr>
                            <th>Image</th>
                            <th ng-repeat="(k,v) in product"> {{k}}</th>
                        </tr>

                    </thead>
                    <tbody>
                        <tr>
                            <td><img ng-show="product.VarietyImageUrl" ng-src="{{product.VarietyImageUrl}}" alt="" style="width:100px; height:100px;" /></td>
                            <td ng-repeat="(k,v) in product">{{v}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div>
                <label>Varieties retrieved: [{{catalog.categoryCode}}] - [{{catalog.productFormCode}}] - [{{catalog.supplierCodes}}] - [{{catalog.specieCodes}}] count={{varieties.length || 0}}</label>
                <table ng-show="catalog.data.Varieties && catalog.data.Varieties.length>0" class="table table-striped table-condensed">
                    <thead>

                        <tr>
                            @*<th>Thumbnail</th>*@
                            <th ng-repeat="(k,v) in catalog.data.Varieties[0]"> {{k}}</th>
                        </tr>

                    </thead>
                    <tbody>
                        <tr ng-repeat="variety in catalog.data.Varieties">
                            @*<td><img ng-show="variety.ThumbnailImageUrl" ng-src="{{variety.ThumbnailImageUrl}}" alt="" style="width:100px; height:100px;" /></td>*@
                            <td ng-repeat="(k,v) in variety">
                                {{v}}
                            </td>
                        </tr>
                    </tbody>
                </table>


            </div>

            @*<span ng-if="k != 'ThumbnailImageUrl'">{{v}}</span>
                <img ng-if="k =='ThumbnailImageUrl'" ng-show="v" ng-src="{{v}}" alt="" style="width:100px; height:100px;" />*@


            @*<div>
                    <label>Varieties In Species: [{{catalog.categoryCode}}] - [{{catalog.productFormCode}}] - [{{catalog.supplierCodes}}] - [{{catalog.specieCodes}}] count={{varieties.length || 0}}</label>
                    <table ng-show="varieties && varieties.length>0" class="table table-condensed">
                        <thead>
                            <tr>
                                <th>Code</th>
                                <th>Name</th>
                                <th>Varieties</th>
                            </tr>

                        </thead>
                        <tbody>
                            <tr ng-repeat="obj in varieties">
                                <td>{{obj.Code}}</td>
                                <td>{{obj.Name}}</td>
                                <td>
                                    <div style="background-color:white; border:solid 1px lightgray">
                                        <table class="table table-striped table-condensed">
                                            <thead>
                                                <tr>
                                                    <th>Code</th>
                                                    <th>Name</th>
                                                    <th>Image URL</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="variety in obj.SelectedVarieties">
                                                    <td>{{ variety.Code }}</td>
                                                    <td>{{ variety.Name }}</td>
                                                    <td>{{ variety.ImageUrl }}</td>

                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>*@
            <div>
                <label>Species retrieved: [{{catalog.categoryCode}}] - [{{catalog.productFormCode}}] - [{{catalog.supplierCodes}}] count={{species.length || 0}}</label>
                <table ng-show="catalog.data.Species && catalog.data.Species.length>0" class="table table-striped table-condensed">
                    <thead>
                        <tr>
                            <th ng-repeat="(k,v) in catalog.data.Species[0]"> {{k}}</th>
                        </tr>

                    </thead>
                    <tbody>
                        <tr ng-repeat="specie in catalog.data.Species">
                            <td ng-repeat="(k,v) in specie">{{v}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <label>Suppliers retrieved: {{catalog.categoryCode}}, {{catalog.productFormCode}}</label>
                <table ng-show="catalog.data.Suppliers && catalog.data.Suppliers.length>0" class="table table-striped table-condensed">
                    <thead>
                        <tr>
                            <th ng-repeat="(k,v) in catalog.data.Suppliers[0]"> {{k}}</th>
                        </tr>

                    </thead>
                    <tbody>
                        <tr ng-repeat="supplier in catalog.data.Suppliers">
                            <td ng-repeat="(k,v) in supplier">{{v}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>



            <div>
                <label>Product forms retrieved:</label>
                <table ng-show="catalog.data.ProductForms && catalog.data.ProductForms.length>0" class="table table-striped table-condensed">
                    <thead>
                        <tr>
                            <th ng-repeat="(k,v) in catalog.data.ProductForms[0]"> {{k}}</th>
                        </tr>

                    </thead>
                    <tbody>
                        <tr ng-repeat="productForm in catalog.data.ProductForms">
                            <td ng-repeat="(k,v) in productForm">{{v}}</td>
                        </tr>
                    </tbody>
                </table>



            </div>

            <div>
                <label>Categories retrieved:</label>
                <table ng-show="catalog.data.Categories && catalog.data.Categories.length>0" class="table table-striped table-condensed">
                    <thead>
                        <tr>
                            <th ng-repeat="(k,v) in catalog.data.Categories[0]"> {{k}}</th>
                        </tr>

                    </thead>
                    <tbody>
                        <tr ng-repeat="category in catalog.data.Categories">
                            <td ng-repeat="(k,v) in category">{{v}}</td>
                        </tr>
                    </tbody>
                </table>


            </div>
        </div>

        @*<div ui-grid="{ catalog.data: myData }" class="myGrid"></div>*@

    </div>

</div>

@section scripts {

    @*
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-touch.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-animate.min.js"></script>

            <script src="https://ui-grid.info/docs/grunt-scripts/csv.js"></script>
            <script src="https://ui-grid.info/docs/grunt-scripts/pdfmake.js"></script>
            <script src="https://ui-grid.info/docs/grunt-scripts/vfs_fonts.js"></script>
    *@

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-touch.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-animate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-route.min.js"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.3/ui-bootstrap-tpls.min.js"></script>

    @*<script src="/app/js/rzslider.js"></script>*@
    @*<script src="https://rawgit.com/rzajac/angularjs-slider/master/dist/rzslider.js"></script>*@




    <script src="/app/js/csv.js"></script>
    <script src="/app/js/pdfmake.js"></script>
    <script src="/app/js/vfs_fonts.js"></script>
    <script src="/app/js/ui-grid-unstable.js"></script>

    <script src="~/app/js/app.js"></script>
    <script src="~/app/js/CatalogService.js"></script>
    <script src="~/app/js/CatalogController.js"></script>

    @*<script src="/app/js/eps-slider.js"></script>*@
    <script src="~/app/js/angular-awesome-slider.min.js"></script>
    <script>



    </script>


}


@section styles {



    @*<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />*@
    <link href="~/Content/bootstrap/bootstrap.css" rel="stylesheet" />

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" />


    <link href="/app/css/ui-grid-unstable.css" rel="stylesheet" />
    <link href="/Content/styles/CatalogNg.css" rel="stylesheet" />

    @*<link href="/app/css/eps-slider.min.css" rel="stylesheet" />*@
    <link href="~/app/css/angular-awesome-slider.css" rel="stylesheet" />

    @*<link href="/app/css/rzslider.css" rel="stylesheet" />*@

    <style type="text/css">
    </style>
}


@*<!DOCTYPE html>

    <html>
    <head>
        <title>CatalogSearch | ePlantSource</title>
    </head>
    <body>
        <h1>Catalog Page:</h1>


    </body>
    </html>*@
