﻿


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Redirect</title>

    <p>hi</p>
     

   
</head>
<body>
     <p>want response.redirect "www.google.com"</p>
</body>
</html>
