﻿@{
    ViewBag.Title = "Account";
    ViewBag.ShowTestInfo = ViewBag.ShowTestInfo ?? false;

}

@section styles {
    <link href="~/Content/styles/Account.css" rel="stylesheet" />
    <style type="text/css">
        #page_content {
            margin: 0 0 20px 0;
            padding: 0;

        }
    </style>

    <style type="text/css">
        /********************** Test Area CSS ********************/
        #test_area_left_div
        {
            float: left;
            height: 300px;
            max-height: 300px;
            width: 275px;
            font-size: 12px;
            border-right: solid 10px #fff;
        }

        #test_area_middle_div p {
            font-size: 15px;
            font-weight: bold;
            color: #999;
        }

       #test_area_middle_div
        {
            float: left;
            width: 200px;
            height: 250px;
            border: dotted 0px #008;
        }
        #test_area_left_div p {
            margin:0;
            padding:0;
            font-size:12px;
        }
        #test_area_milestones_list_display
        {
            margin:4px 0 4px 6px;
            padding:0;
            height:245px;
            max-height:245px;
            overflow-x:hidden;
            overflow-y:scroll;
            border-top:dotted 1px #999;
            border-bottom:dotted 1px #999;
            border-left: dotted 1px #aaa;
        }
        #test_area_milestones_list_display ul {
            margin:0 0 0 3px;
            padding:0;
            list-style:none;
        }

        #test_area_right_div {
            float:left;
            width:775px;
            height:280px;
            max-height:280px;
            font-size:12px;
            border: dotted 1px #008;
        }
        #test_area_results_display
        {
            /*height:300px;*/
            max-height:300px;
            overflow-y:scroll;
            /*border-top: dotted 1px #999;*/
        }

    </style>
}

<div id="page_content">
        	<div id="registration_display" >
        
                <div id="lookup_display">
                
                    <h1>Save some time</h1>
                    <p><strong>Check to see if your company is already in our database.</strong></p>

                        <form id="lookup_form"class="lookup"  action="JAVASCRIPT:viewModel.submitLookupForm();">
                            <div style="float:left; width: 45%;">
                        	    <div class="row">
                        		    <label for="LookupCompanyName">Company Name</label>
                                    <div class="selection_containers">
                                	    <input type="text" id="LookupCompanyName" maxlength="50">
                                    </div>
                                </div>
                            
                                <div class="row">
                                    <label for="LookupZipCode">Zipcode</label>
                                    <div class="selection_containers">
                                    <input type="text" id="LookupZipCode" maxlength="5">
                                </div>
                                </div>
                            </div>
                        
                            <div style="float: right; width: 45%;">
                        	    <div class="row">
                            	    <label for="LookupPhoneNumber">Phone Number</label>
                                    <div class="selection_containers">
                                	    <input type="text" id="LookupPhoneNumber">
                                    </div>
                                </div>
                            </div>
                        
                            <a href="JAVASCRIPT:alert('Popup: TBD')" class="lookup"><img src="/images/registration/look_me_up.png"></a>
                         
                        </form><!-- .lookup -->
                </div><!-- #lookup_display -->
                    
                <form id="registration_form" action="JAVASCRIPT:viewModel.submitRegistrationForm();">
                
                    <div id="company_display">
                
                    <h1>Set Up Your Company<strong>Tell us a little bit about your company</strong></h1>
                    
                    <div class="row">
                    	<label for="CompanyName" class="required_fields">Company Name</label>
                        <div class="selection_containers">
                            <input id="CompanyName" type="text" maxlength="50">
                        </div>
                    </div>
                    

                    <div class="row">
                    	<label for="Country">Country</label>
                        
                        <div class="selection_containers">
                            <ul id="Country">
                                <li>
                                    <input id="country_usa" type="radio" name="country_code" value="usa" checked="checked">
                                    <label for="country_usa"><span></span>USA</label>
                                </li>
                                <li>
                                    <input id="country_canada" type="radio" name="country_code" value="ca">
                                    <label for="country_canada"><span></span>Canada</label>
                                </li>
                            </ul>

                        </div>                        
                    </div>

                    <div class="row">
                    	<label for="StreetAddress1" class="required_fields">Street Address</label>
                        <div class="selection_containers">
                            <input id="StreetAddress1" type="text" maxlength="50">
                        </div>

                    </div>
                    
                    <div class="row">
                    	<label for="City" class="required_fields">City</label>
                        <div class="selection_containers">
                    	    <input type="text" id="City" maxlength="50">
                        </div>
                    </div>

                     <div class="row">
                        <label id="state_province_selection_label" for="StateCode">State</label>
                        <div class="selection_containers">
                    		<select id="StateCode">
                                <option value="AL" >Alabama</option>
                                <option value="OH" >Ohio</option>

                    		</select>
                        </div>
                    </div>
                    
                     <div class="row">
                    	    <label for="ZipCode" class="required_fields">Zipcode</label>
                            <div class="selection_containers">
                                <input id="ZipCode" type="text" maxlength="12">
                            </div>
                    </div>

                     <div class="row">
                    	<label for="CompanyEmail" class="required_fields">Company Email</label>
                        <div class="selection_containers">
                            <input type="text" id="CompanyEmail" maxlength="70">
                        </div>
                    </div>
                   
                    <div class="row">
                    	<label for="CompanyPhone" class="required_fields">Company Phone</label>
                        <div class="selection_containers">
                        	<input type="text" id="CompanyPhone">
                        </div>
                    </div>
                    
                    <p>Type of Company</p>
                    <ul id="company_type_list">
                        <li>
                            <input id="type_company_other" type="radio" name="CompanyTypeCode" value="Other" checked="checked">
                                <label for="type_company_other"><span></span>Other</label>
                        </li>
                    </ul>

                </div><!-- #company_display -->
                
                <div id="account_display" class="float_right account">

                    <h1>Your Account<strong>Create your account</strong></h1>
                    <div class="row">
                    	<label for="FirstName" class="required_fields">First Name</label>
                        <div class="selection_containers">
                    	    <input type="text" id="FirstName" maxlength="50">
                        </div>
                    </div>
                    
                    <div class="row">
                    	<label for="LastName" class="required_fields">Last Name</label>
                        <div class="selection_containers">
                    	    <input type="text" id="LastName" maxlength="50">
                        </div>
                    </div>
                    
                    <div class="row">
                        <img id="copy_from_company_phone" src="~/Images/layout/CopyFromCompanyPhone-Button.png" />
                        <label for="PersonPhone" class="required_fields">Phone</label>
                        <div class="selection_containers">
                        	<input type="text" id="PersonPhone">                        
                            
                        </div>
                    </div>
                    
                    <div class="row">
                        <img id="copy_from_company_email" src="~/Images/layout/CopyFromCompanyEmail-Button.png" />
                    	<label for="PersonEmail" class="required_fields">Email</label>
                        <div class="selection_containers">
                            <input type="text" id="PersonEmail" maxlength="70">
                        </div>
                    </div>

                    <div class="row">
                    	<label for="Password" class="required_fields">Password (6-12 chrs.)</label>
                        <div class="selection_containers">
                        	<input type="password" id="Password">
                        </div>
                    </div>
                    
                    <div class="row">
                    	<label for="Password2" class="required_fields">Re-type Password</label>
                        <div class="selection_containers">
                        	<input type="password" id="Password2">
                        </div>
                    </div>
                    
                    
                    <div class="row">
                    	<p>Company Role</p>
                        <ul id="company_role_list">
                            <li>
                                <input id="role_other" type="radio" name="RoleCode" value="Other" checked="checked">
                                    <label for="role_other"><span></span>Other</label>
                            </li>
                        </ul>

                    </div>

                    <ul id="account_options_list" style="display:none">
                        <li style="margin-left: 5px;">
                            <input type="checkbox" id="SubscribeToNewsLetter" checked="checked" />
                            <label for="SubscribeToNewsLetter" >
                                <span></span>
                                Yes, please send me valuable resources and updates from ePlantSource via email (you can unsubscribe at any time).
                            </label>
                        <li style="margin-left: 5px;">
                            <input type="checkbox" id="SubscribeToPromotions"  checked="checked" />
                            <label for="SubscribeToPromotions">
                                <span></span>
                                Send me discounts and promotions from suppliers via email.
                            </label>
                        </li>
                        <li style="margin-left: 5px;">
                            <input type="checkbox" id="ClearOtherChoices" />
                            <label for="ClearOtherChoices">
                                <span></span>
                                No, I don't want to receive email communications and promotions from ePlantSource (I understand that essential emails relative to orders placed will continue.)
                            </label>
                        </li>
                    </ul>
                    
                </div><!-- #account_display -->
            
                </form>
            
            </div><!-- #registration_display -->
            <div id="action_display">
            	<span id="create_account_button" >Create Account</span><span id="cancel_account_button" >Cancel</span>
            </div><!-- #action_display -->
</div>



@if(ViewBag.ShowTestInfo){

<div id="test_area" style="display:block; height:300px; border:dotted 4px #ccc;">
    <div id="test_area_left_div">
        <p>Milestones:</p>
   <div id="test_area_milestones_list_display"> 
    <ul>
        <li>[√] code: Registration Controller</li>
        <li>[√] code: Account Page</li>
        <li>[√] content: images found, imported</li>
        <li>[√] CSS located, modified, imported</li>
        <li>[√] HTML located, modified, imported</li>
        <li>[√] ViewModel: Created</li>
        <li>[√] Model: Created</li>
        <li>[√] design: update per PDF design Doc</li>
        <li>[√] function: check boxes working</li>
        <li>[√] function: add radio buttons</li>
        <li>[√] style: initial css conversion</li>
        <li>[√] html: refactor into forms</li>
        <li>[√] html: match form ids to c# type</li>
        <li>[√] function: lookup text values</li>
        <li>[√] function: registration text values</li>
        <li>[√] function: registration radio values</li>
        <li>[√] function: registration check values</li>
        <li>[√] function: registration password value</li>
        <li>[√] ajax: submit registration values</li>
        <li>[√] function: create/cancel buttons working</li>
        <li>[√] html: popup dialog</li>
        <li>[√] html: floating message</li>
        <li>[√] html: popup message</li>
        <li>[√] function: country selector</li>
        <li>[√] function: dynamic state/province</li>
        <li>[√] function: state selector</li>
        <li>[√] function: mask phone fileds</li>
        
        <li>[√] function: display server respone</li>
        <li>[√] style: more css conversion</li>
        <li>[ ] style:server respone popup</li>





        <li>[ ] function: mask text fields</li>
        <li>[ ] function: mask email fields</li>
        <li>[ ] function: mask zip Code field</li>


        <li>[ ] code: anti-forgery token</li>



        <li>[ ] factor: reusable dialog code</li>
        <li>[ ] function: confirmation dialog</li>
        <li>[ ] function: cancel</li>
        <li>[ ] validate: person email (user name)</li>
        <li>[ ] validate: password</li>
        <li>[ ] validate: password re-entry</li>
        
        
        <li>[ ] function: pull company phone to person</li>
        <li>[ ] style: more css conversion</li>
        <li>[ ] code: field verification</li>
        <li>[ ] ajax: create credentials</li>
        <li>[ ] content: set page tag</li>
        <li>[ ] style: final css </li>
        <li>[ ] issue: password encrypt or SSL</li>
    </ul>
    </div>
    </div>
    <div id="test_area_middle_div">
        <p>Dev Stuff:</p>
        @*<span id="lookup_form_submit_button">submit lookup</span>*@
@*        <span style="margin-top:10px;" id="test_popup_confirmation">confirmation</span>*@
@*        <span style="margin-top:10px;" id="test_floating_message">alert</span>*@
@*        <span style="margin-top:10px;" id="test_popup_message">message</span>*@

        @*<span style="margin-top:10px;" id="test_set_country">set country</span>*@
        <span style="margin-top:10px;" id="test_display_inputs">display inputs</span>

    </div>
        <div id="test_area_right_div">
            <div style="width:750px; border: dotted 1px #ccc;">
            @*<input id="test_display_rows" style="float:right;" type="button" value="display Rows" onclick="viewModel.drawInnerGrid();" />*@
            <img id="test_time_interval_data_working_image" style="display:none;" src="~/Images/icons/Loading_Availability.gif" />
            <span id="test_time_interval_data">??</span>
            <span id="test_row_count">??</span>
            <span id="test_time_interval_display">??</span>
        </div>
        <div id="test_area_results_display" style="clear:both;"></div>
</div>

</div>

}

@section scripts {
    @*<script src="~/Scripts/numeral.min.js"></script>*@
    @*<script src="~/Scripts/jquery.mask.min.js"></script>*@
    <script src="~/Scripts/jquery.maskedinput.min.js"></script>
    <script src="~/Scripts/pageScripts/Account.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            //Set Breadcrumbs:
            var breadCrumbs = [];
            breadCrumbs.push({ Id: "", Type: "anchor", Text: "Home", Href: "/", Title: "Home Page", State: "Active" });
            breadCrumbs.push({ Id: "", Type: "anchor", Text: "Registration", Href: "/Registration", Title: "Registration Pages", State: "Active" });
            breadCrumbs.push({ Id: "", Type: "span", Text: "Account", Href: "", Title: "You are here!", State: "Active" });
            breadCrumbModel.ClearDisplay();
            breadCrumbModel.Display(breadCrumbs);

            viewModel.init();

        });
    </script>
    
}
