﻿@{
    ViewBag.Title = "Index";
}


@section styles {
    <link href="~/Content/styles/Account.css" rel="stylesheet" />
    <style type="text/css">
        #page_content {
            margin: 0 0 0 20px;
            padding: 0;
            height: 300px;
        }
    </style>
}



<div id="page_content">
    <h2>Registration:</h2>

    <a href="/home/MyAccount/">My Account</a>
    <br />
    <a href="/Registration/Account/">Account Registration</a>
    <br />
    <a href="/Registration/">Forgot my password</a>
</div>



@section scripts {
    @*<script src="~/Scripts/numeral.min.js"></script>*@
    <script type="text/javascript">
        $(document).ready(function () {

            //Set Breadcrumbs:
            var breadCrumbs = [];
            breadCrumbs.push({ Id: "", Type: "anchor", Text: "Home", Href: "/", Title: "Home Page", State: "Active" });
            breadCrumbs.push({ Id: "", Type: "span", Text: "Registration", Href: "", Title: "You are here!", State: "Active" });
            breadCrumbModel.ClearDisplay();
            breadCrumbModel.Display(breadCrumbs);

            //remove search 
            //$("#eps_tools_search_input_display").css("display", "none");

        });


</script>
    
}


