﻿@{
    //ViewBag.Title = ViewBag.Title ?? "What's New?";

    ViewBag.Title = ViewBag.ContentType.Title ?? "ePs Page";
    
    ViewBag.ContentType.Html = ViewBag.ContentType.Html ?? string.Empty;
    ViewBag.ContentType.CssPage = ViewBag.ContentType.CssPage ?? string.Empty;
    ViewBag.ContentType.Css = ViewBag.ContentType.Css ?? string.Empty;
}


@section styles {
    <style type="text/css">
        @Html.Raw(@ViewBag.ContentType.CssPage)

        
        @Html.Raw(@ViewBag.ContentType.Css)
    </style>
}




<div id="page_content">
    @Html.Raw(@ViewBag.ContentType.Html)

</div>


@section scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            var breadCrumbs = [];
            breadCrumbs.push({ Id: "", Type: "anchor", Text: "Home", Href: "/", Title: "Home Page", State: "Active" });
            breadCrumbs.push({ Id: "", Type: "span", Text: "Featured Items", Href: "", Title: "You are here!", State: "Active" });
            breadCrumbModel.ClearDisplay();
            breadCrumbModel.Display(breadCrumbs);

            $("#main_navigation_link_featured").removeClass().addClass("main_navigation_links_selected");
            
            @Html.Raw(@ViewBag.ContentType.JavascriptOnReady)

        });

        @Html.Raw(@ViewBag.ContentType.Javascript)


    </script>
}
