﻿@{
    ViewBag.PageMode = ViewBag.PageMode ?? "";
    ViewBag.Title = ViewBag.Title ?? "Order Preferences";

    ViewBag.RunningInDevMode = ViewBag.RunningInDevMode ?? false;   //default to false
}

    <div id="page_content">

        <h1>Order Preferences</h1>
        <div id="substitutions_display">
            <h2 class ="header_bars" id="substitutions_header_bar">Substitutions</h2>
            <p>Allow for substitutions:</p>
            
            <div id="order_substitutions_radio_group">
                <span id="order_substitutions_approved" class="selected">Yes, please provide substitutions if needed on placed orders.</span>
                <span id="order_substitutions_declined" class="unselected">No, if a variety becomes unavailable on a placed order delete it from my order, do not automatically place a sub.</span>
            </div>
            
@*            <p>
                <input type="radio" id="order_substitutions_yes" name="order_substitutions_radio_group" value="OrderSubstitutionsYes" checked="checked">
                <label for="order_substitutions_yes"><span></span>Yes, please provide substitutions if needed on placed orders.</label>
            </p>                            
            <p>
                <input type="radio" id="order_substitutions_no" name="order_substitutions_radio_group" value="OrderSubstitutionsNo">
                <label for="order_substitutions_no"><span></span>No, if a variety becomes unavailable on a placed order delete it from my order, do not automatically place a sub.</label>
            </p>
*@
        </div>
        <div id="button_display">
@*            <a id="order_button" class="action_buttons" >Place Order</a>*@
@*            <a id="continue_shopping_button" class="action_buttons" >Continue Shopping</a>*@
            <a id="order_preferences_save_button" class="action_buttons" >To My Account</a>
        </div>

    </div>



@section scripts {
    @*Use Bundle for PRODuction*@

@*
    @Scripts.Render("~/bundles/PageScripts/OrderPreferences")  
*@


    @*Use files during Development*@    
    <script src="~/Scripts/PageScripts/OrderPreferences.js"></script>
    




    <script type="text/javascript">

        $(document).ready(function () {
            var breadCrumbs = [];
            breadCrumbs.push({ Id: "", Type: "anchor", Text: "Home", Href: "/", Title: "Home Page", State: "Active" });
            breadCrumbs.push({ Id: "", Type: "anchor", Text: "My Account", Href: "/myaccount", Title: "My Account Page", State: "Active" });
            breadCrumbs.push({ Id: "", Type: "span", Text: "Order Preferences", Href: "", Title: "You are here!", State: "Active" });
            breadCrumbModel.ClearDisplay();
            breadCrumbModel.Display(breadCrumbs);

            
            viewModel.Init();

        });


    </script>
}

    @section styles {
        <link href="~/Content/styles/OrderPreferences.css" rel="stylesheet" />
        <style type="text/css">
            #page_content             {
            }
        </style>

        <style type="text/css">
        /********************** Test Area CSS ********************/
        #test_area_left_div
        {
            float: left;
            height: 300px;
            max-height: 300px;
            width: 225px;
            font-size: 12px;
            border-right: solid 10px #fff;
        }
        #test_area_left_div p {
            margin:0;
            padding:0;
            font-size:12px;
        }

        #test_area_right_div {
            float:left;
            width:1000px;
            height:300px;
            max-height:280px;
            font-size:12px;
            border-left: dotted 1px #008;
        }
        #test_area_results_display
        {
            height:300px;
            max-height:300px;
            overflow-y:scroll;
            /*border-top: dotted 1px #999;*/
        }
    </style>

    }



