﻿@{
    ViewBag.Title = ViewBag.Title ?? "OrdersPDF";
    ViewBag.PageMode = ViewBag.PageMode ?? "";
    ViewBag.ShowTestInfo = ViewBag.ShowTestInfo ?? false;   //default to false

}



<body>


    <a href="https://epsstorage.blob.core.windows.net/invoicepdf/I-000909.pdf" download="MyFile">Download it!</a>
</body>



