﻿@{
    ViewBag.PageMode = ViewBag.PageMode ?? "";
    ViewBag.Title = ViewBag.Title ?? "Transaction Summary";

    ViewBag.RunningInDevMode = ViewBag.RunningInDevMode ?? false;   //default to false
}


<div id="page_content">

    <h1>Transaction Summary</h1>
    <div style="display:block;" id="statement_of_account_accordion">
        <h2 class ="header_bars_clickable" id="statement_of_account_accordion_header_bar">Statement of Account</h2>
        <div id="statement_of_account_accordion_display">
        <table id="statement_of_account_table"  border='0' cellpadding='0' cellspacing='0'>
            <thead>
                <tr class="row_0">
                    <th class="th_1">Transaction Type</th>
                    <th class="th_2">Transaction ID</th>
                    <th class="th_3">Order #</th>
                    <th class="th_4"><span class="money_displays">Amount</span></th>
                    <th class="th_5"><span class="money_displays">Paid/Applied</span></th>
                    <th class="th_6"><span class="money_displays">Amount Due</span></th>
                    <th class="th_7"><span class="date_displays">Due/Received Date</span></th>
                </tr>
            </thead>
            <tbody>

            </tbody>
            <tfoot>
                <tr class="tr_0">
                    <td colspan="4"></td>
                    <td colspan="1" style="text-align:right;">Total Due:</td>
                    <td colspan="1"><span id="total_amount_due" class="money_displays">??</span></td>
                    <td colspan="1"></td>
                </tr>
                @*
                <tr class="tr_1">
                    <td colspan="6"></td>
                    <td colspan="1"><a id="pay_online_button" class="action_buttons" >Pay Online Now</a></td>
                </tr>
                *@
            </tfoot>
        </table>
        
        
        </div>
    </div>

    <div style="display:block;" id="transaction_history_accordion">
        <h2 class ="header_bars_clickable" id="transaction_history_accordion_header_bar">Account Transaction History</h2>
        <div id="transaction_history_accordion_display">
        <table id="transaction_history_table"  border='0' cellpadding='0' cellspacing='0'>
            <thead>
                <tr class="row_0">
                    <th class="th_1">Transaction Type</th>
                    <th class="th_2">Transaction ID</th>
                    <th class="th_3">Order #</th>
                    <th class="th_4"><span class="money_displays">Paid/Credited</span></th>
                    <th class="th_5"><span class="date_displays">Date</span></th>
                    <th class="th_6"><span>Payment ID</span></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        
        
        </div>
    </div>


</div>






@if(ViewBag.RunningInDevMode){

<div id="test_area" style="display:block; height:300px; border:dotted 4px #ccc;">
    <div id="test_area_left_div">
        <p>Test Stuff:</p>
        <span style="margin-top:10px;" id="test_api_invoices">Invoices API</span><br />
        <span style="margin-top:10px;" id="test_api_payments">Payments API</span><br />
        <span style="margin-top:10px;" id="test_api_invoice">Invoice API</span><br />
        <span style="margin-top:10px;" id="test_api_pay">Pay API</span><br />
    </div>
    <div id="test_area_right_div">
        <div id="test_area_results_display_0" style="border-bottom: dashed 1px #ccc;">??</div>
        <div id="test_area_results_display_1" style="clear:both;">???</div>
    </div>
</div>

}





@section scripts {
    @*Use Bundle for PRODuction*@

@*
    @Scripts.Render("~/bundles/PageScripts/TransactionSummary")  
*@


    @*Use files during Development*@    
    <script src="~/Scripts/jquery.maskedinput.min.js"></script>
    <script src="~/Scripts/numeral.min.js"></script>
    <script src="~/Scripts/PageScripts/TransactionSummary.js"></script>
    




    <script type="text/javascript">

        $(document).ready(function () {
            var breadCrumbs = [];
            breadCrumbs.push({ Id: "", Type: "anchor", Text: "Home", Href: "/", Title: "Home Page", State: "Active" });
            breadCrumbs.push({ Id: "", Type: "anchor", Text: "My Account", Href: "/myaccount", Title: "My Account Page", State: "Active" });
            breadCrumbs.push({ Id: "", Type: "span", Text: "Transaction Summary", Href: "", Title: "You are here!", State: "Active" });
            breadCrumbModel.ClearDisplay();
            breadCrumbModel.Display(breadCrumbs);

            viewModel.config.pageMode = "@ViewBag.PageMode";
            
            viewModel.Init();

        });


    </script>
}


@section styles {
    <link href="~/Content/styles/TransactionSummary.css" rel="stylesheet" />

    <style type="text/css">
        /********************** Test Area CSS ********************/
        #test_area_left_div
        {
            float: left;
            height: 295px;
            max-height: 295px;
            width: 275px;
            font-size: 12px;
            border-right: solid 10px #f0f0f0;
        }

        #test_area_left_div p {
            margin:0;
            padding:0;
            font-size:12px;
        }

        #test_area_right_div {
            float:left;
            width:975px;
            height:295px;
            max-height:295px;
            font-size:12px;
            border: dotted 0px #008;
        }
        #test_area_results_display_0
        {
            max-height:55px;
            overflow-y:scroll;
        }
        #test_area_results_display_1
        {
            max-height:240px;
            overflow-y:scroll;
        }
    </style>
}


