﻿

<form id="reset_password_request_form">
    @Html.AntiForgeryToken()
    <label for="email_address_input">Email:</label>
    <input id="email_address_input" name="emailAddress" type="text" tabindex="1" value="" />
    
    <div class="form_status_display" >
        <span>A link to reset your password will be emailed.</span>
    </div>
    
    <div id="action_display">
        <input id="reset_password_request_form_cancel" type="button" value="cancel" />
        <input id="reset_password_request_form_submit" type="submit" value="submit" />
        <input id="reset_password_request_form_ok" type="button" value="ok" />
    </div>
</form>


<script type="text/javascript">

    (function () {
        var href = "/content/styles/_ResetPasswordRequestForm.css";
        var isLoaded = 0 < ($("head").children("link[href='" + href + "']").length || 0);
        if (!isLoaded) {
            //alert("loading");
            $("head").append("<link>");
            var css = $("head").children(":last");
            css.attr({
                rel: "stylesheet",
                type: "text/css",
                href: href
            });
        };
    })();

    $('#reset_password_request_form').submit(function (evt) {
        //alert('submit called.');
        evt.preventDefault();
        var form = $(this);
        var emailAddress = form.children("input#email_address_input").val().trim().replace(" ", "");
        var sendData = {
            "EmailAddress": this.emailAddress.value,
            "__RequestVerificationToken": this.__RequestVerificationToken.value
        };

        //alert(traverseObj(sendData, false));

        //define ajax request
        var ajaxOptions = {
            url: '/api/ResetPasswordToken',
            type: 'post',
            dataType: 'json',
            beforeSend: function () {
                //alert(traverseObj(sendData, false));
                this.url += "?" + $.param(sendData);
                $("#form_status_display span").text("Submitting ...");
                $("#reset_password_request_form_cancel").hide();
                $("#reset_password_request_form_submit").hide();
            }
        };

        //// Initiate ajax request!
        $.ajax(ajaxOptions)
            .fail(function (requestObject, error, errorThrown) {
                alert("error: " + error + "\nerrorThrown: " + errorThrown);
            })
            .done(function (response) {
                //alert("complete");
                //alert(traverseObj(response, false));
                if (response.Success) {
                    form.children("div.form_status_display").html($("<span>Check your email for a link to reset your password.</span>"));
                    $("#email_address_input").hide();
                    $("label[for='email_address_input']").hide();
                    $("#reset_password_request_form_ok").show();
                } else {
                    form.children("div.form_status_display").html($("<span>" + response.Message + "</span>"));
                    $("#reset_password_request_form_cancel").show();
                    $("#reset_password_request_form_submit").show();
                };

            }).always(function () {
                //alert("after all");
            });

        return false;
    });

    $('#reset_password_request_form').on("keydown", function (evt) {
        evt.stopPropagation();
    });

    $('#reset_password_request_form_cancel').on("click", function () {
        eps_tools.Dialog.close();
    });

    $('#reset_password_request_form_ok').on("click", function () {
        eps_tools.Dialog.close();
    });


</script>