﻿@{
    ViewBag.Title = "AuthorizeNet";
}



<div id="page_content">

    <h2>AuthorizeNet</h2>
    <hr />

    <p>Authorize a Charge: </p>
    <form id="form1" action="#">
        <table>
        <tr>
            <td><label for="CardNumber" >Card Number: </label></td>
            <td><input id="CardNumber" type="text" value="4111111111111111" /></td>
            <td></td>
        </tr>
        <tr>
            <td><label for="Expires" >Expires: </label></td>
            <td><input id="Expires" type="text" value ="0614" /></td>
            <td></td>
        </tr>
        <tr>
            <td><label for="Amount" >Amount: </label></td>
            <td><input id="Amount" type="text" value ="0.00"/></td>
        </tr>
        <tr>
            <td><label for="ChargeDescription" >ChargeDescription: </label></td>
            <td><input id="ChargeDescription" type="text" /></td>
            <td><input id="submit_charge" type="submit" value="submit" /></td>
        </tr>
        </table>
        
    </form>
    <hr />

</div>




@section scripts {

    <script type="text/javascript">


        $('#form1').submit(function () {
            var data = {};
            data.CardNumber = $("#CardNumber").val() || "";
            data.Expires = ($("#Expires").val() || "").replace(" ", "");
            data.Amount = $("#Amount").val() || "";
            data.Description = $("#ChargeDescription").val() || "";


            $.ajax({
                type: "put",
                url: "/api/CardCharge/",
                data: data,
                datatype: "json",
                beforeSend: function (jqXHR, settings) {
                    alert("SENDING:\nurl: " + this.url + "\nDATA:\n "+ traverseObj(data, false));
                },
                success: function (response, textStatus, jqXHR) {
                    alert("RESPONSE:\n" +traverseObj(response, false));
                },
                //error: function (jqXHR, textStatus, errorThrown) {
                //    alert("url: " + this.url + "\ntextStatus: " + textStatus + "\nerrorThrown " + errorThrown);
                //},
                complete: function (jqXHR, textStatus) {
                }
            });
            return false;
        });


        $(document).ready(function () {
            var breadCrumbs = [];
            breadCrumbs.push({ Id: "", Type: "anchor", Text: "Home", Href: "/", Title: "Home Page", State: "Active" });
            breadCrumbs.push({ Id: "", Type: "anchor", Text: "Test", Href: "/test", Title: "Test Page", State: "Active" });
            breadCrumbs.push({ Id: "", Type: "span", Text: "AuthorizeNet", Href: "", Title: "You are here!", State: "Active" });
            breadCrumbModel.ClearDisplay();
            breadCrumbModel.Display(breadCrumbs);
         

        });


    </script>
}

@section styles {
    <style type="text/css">
        #page_content {
            height: 650px;
            margin: 0 0 20px 0;
            padding: 0;
        }
        h2 {
            margin:0;
            padding:4px;
        }
        p {
            margin:0;
            padding:0;
            font-size:12px;
        }
        td label {
            text-align: right;
            font-size:12px;
        }
        td input[type=text] {
            font-size:12px;
        }
        input[type=submit] {
            font-size:12px;
        }

    </style>
}



