﻿@{
    ViewBag.Title = "Index";
}


@section styles {
    <style type="text/css">
        #page_content
        {
            height:300px;
        }
    </style>
}
@section scripts {
    <script type="text/javascript">

        $(document).ready(function () {

        });

</script>
}


    <div id="page_content">
        <h2>Test Pages:</h2>

        <span>Target: 23.21.249.54</span>


    </div>




