﻿@{
    ViewBag.Title = "secureLogin";
}



@section styles {
    <link href="~/Content/styles/AvailabilitySearch.css" rel="stylesheet" />
    <style type="text/css">
        #page_content {
            width: 1000px;
            height: 400px;
            border: dotted 1px #008;
        }


    </style>
}

<div id="">

    <h2>secureLogin</h2>

    <iframe style="width:800px; height:650px;" src="https://secure.eplantsource.com/Account/Login" >    </iframe>


    @*<iframe style="width:800px; height:650px;" src="http://localhost:2157/member/login" >    </iframe>*@

    <input id="Button1" type="button" value="authenticate" onclick='authCorsRequest("BobsUserName", "BobsPassword");' />

@*<form action="https://secure.ePlantSource.com/Account/Login?returnUrl=popup" method="post">
    <input id="UserName" type="text" />
    <input id="Password" type="password" />
    <input id="RememberMe" type="text" />
    <input id="submit" type="submit" value="submit" />
</form>
*@

    @{
        const string DOMAIN_PRODUCTION_SETTING = "www";
        if ((DOMAIN_PRODUCTION_SETTING == System.Configuration.ConfigurationManager.AppSettings["SubDomain"].ToLower())) { 
            <span id="siteseal"><script type="text/javascript" src="https://seal.starfieldtech.com/getSeal?sealID=MGJw1oJobd103dEAiCfxc7x7Sb7mT9uJlw23GlAEkEXeJRkj6K"></script></span>
        } else {
            <span id="siteseal"><script type="text/javascript" src="https://seal.starfieldtech.com/getSeal?sealID=2jCCemB6pjk02rsJDQamSucJIYhkMcPhNghTiIyM49eiJJOBD9"></script></span>
        };
    }
</div>

@section scripts {
    <script type="text/javascript">
    

        $(document).ready(function () {

            //testCorsRequest();

            window.addEventListener("message", receiveMessage, false);


        });

        function receiveMessage(event) {
            alert(traverseObj(event, false));
        };


        function testButton() {

            alert('test button on secureLogin');
        };

        // POST CORS Authentication request.
        function authCorsRequest(username, password) {
            // All HTML5 Rocks properties support CORS.
            //Note: IE-8 does not support Content-Type so we must send in Text
            var url = 'https://secure.ePlantSource.com/api/Auth?Username=' + username + '&Password=' + password;

            //var url = 'http://localhost:2157/api/Auth?Username=' + username + '&Password=' + password;
            url = encodeURI(url);
            var xhr = createCORSRequest('post', url);
            if (!xhr) {
                alert('CORS not supported');
                return;
            }

            //xhr.setRequestHeader('Api-Key', 'foobar');
            // Response handlers.
            xhr.onload = function () {
                //alert(xhr.responseText);
                var body = JSON.parse(xhr.responseText);
                //var body = xhr.responseText;
                //alert(typeof body);
                //var text = xhr.responseText;
                //alert(text);
                //var title = getTitle(text);
                alert('Response from CORS request to ' + url + ':\n\n' + traverseObj(body, false));
                //alert('Response from CORS request to ' + url + ': ' + text);
            };

            xhr.onerror = function () {
                alert('There was an error making the request.');
            };

            //xhr.send(JSON.stringify({ 'Username': username, 'Password': password }));
            alert(url);
            xhr.send();
        }



        // Create the XHR object.
        function createCORSRequest(method, url) {
            var xhr = new XMLHttpRequest();
            if ("withCredentials" in xhr) {
                // XHR for Chrome/Firefox/Opera/Safari.
                xhr.open(method, url, true);
                //xhr.setRequestHeader('Content-Type', 'application/json');
           } else if (typeof XDomainRequest != "undefined") {
                // XDomainRequest for IE.
               xhr = new XDomainRequest();
    xhr.open(method, url);
                //xhr.contentType = 'text/plain';
                //xhr.contentType = 'application/json';
            } else {
                // CORS not supported.
                xhr = null;
            }
            return xhr;
        }

        // Helper method to parse the title tag from the response.
        function getTitle(text) {
            return text.match('<title>(.*)?</title>')[1];
        }

        // Make the actual CORS request.
        function testCorsRequest() {
            // All HTML5 Rocks properties support CORS.
            var url = 'http://updates.html5rocks.com';

            var xhr = createCORSRequest('get', url);
            if (!xhr) {
                alert('CORS not supported');
                return;
            }

            // Response handlers.
            xhr.onload = function () {
                var text = xhr.responseText;
                var title = getTitle(text);
                alert('Response from CORS request to ' + url + ': ' + title);
            };

            xhr.onerror = function () {
                alert('Woops, there was an error making the request.');
            };

            xhr.send();
        }




    </script>
    

}
