﻿@{
    ViewBag.Title = "Adenitrax Partners | AediCell";
}

<head>
    <link href="../../Content/styles/Partners.css" rel="stylesheet" type="text/css" />
</head>


<div id="page_content">
        <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="jumbotron">
                    <h1 class="text-center"><img src="~/Images/AediCell_Logo.jpg" alt="AediCell" class="img-responsive" /></h1>         
                    <p class="text-center">From Life. For Life.</p>

                    
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <h1>Products available on Adenitrax:</h1>
            <hr>
        </div>
        <div class="logo">
            <center>
               
            </center>
        </div>
        <div class="row">
            <div class="text-center col-sm-6">
                <h3>Wound Care</h3>
                <ul>
                    <li>Form(s): Plug Seedlings</li>
                    <li>1,box of 10</li>
                    <li>Available Dates: Year Round</li>
                </ul>
                <a class="btn btn-danger btn-lg" href="http://Adenitrax.com/Availability2/Search?category=VA&form=LIN&seller=undefined&filter=false&shipweek=43|2016&suppliers=PLU&species=16,29,37,61,62,80,82,79,A6,F0,B6,C7,D9,CIN,E7,F9,G4,J7,J8,L0,L1,DRA,A,FCA,FKA,GAZ,GHY,GOM,GRA,GYP,HEL,HTP,HYP,IMW,LAV,LIS,LOL,MGD,STO,MEL,MIM,NEM,NIC,NIE,OPP,OST,PAN,PAS,PET,PHL,POR,PRI,RAN,RUD,SLP,SAL,SNA,VER,VIN,VIO,ZIN&go=true" role="button">Order</a>
            </div>
        </div>
    </div>
    
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <h2>Contact Information</h2>
                <address>
                    <strong>AediCell</strong>
                    <br>       XXX YYY Drive<br>     New York, New York 555555<br>
                    <a href="http://www.aedicell.com" target="new"> Visit Website</a>
                </address>
               
            </div>
        </div>
    </div>
    <hr>
</div>


@section scripts {
    <script type="text/javascript">
      
    </script>
}

