﻿@{
    //ViewBag.Title = ViewBag.Title ?? "Partners Page";

    ViewBag.Title = "Partners | eCommerce for the Wound Care Professional | Adenitrax";

    //ViewBag.ContentType.Html = ViewBag.ContentType.Html ?? string.Empty;
    //ViewBag.ContentType.CssPage = ViewBag.ContentType.CssPage ?? string.Empty;
    //ViewBag.ContentType.Css = ViewBag.ContentType.Css ?? string.Empty;
}



@*<style type="text/css">
   
    <link href="../../Content/styles/Partners.css" rel="stylesheet" type="text/css" />


</style>*@


<head>
    <link href="../../Content/styles/Partners.css" rel="stylesheet" type="text/css" />
</head>


<div id="page_content">
     
    <div class="container">
        <div class="row">
            <h1>Our Partners</h1>
            <hr>
        </div>
    </div>
    <div class="container">
        <div id="partnerlist">
            <ul>
                <li>
                    <a href="/Partners/AediCell/" target="_self">
                        AediCell<p>New York, United States</p>
                    </a>
                </li>
                
            </ul>
            
        </div>
    </div>
</div>


@section scripts {
    <script type="text/javascript">
       
    });


    </script>

}

