﻿@using System.Web;
@using ePS.Controllers.api;
<!doctype html>
<html lang="en">
    <head>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
       
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
       
        @{
            
            var headerCSS = "header.css";
            var cont = new GrowerController();

            HttpContextWrapper httpContextWrapper = cont.GetHttpContextWrapper();
           
            var x = httpContextWrapper.Session["SellerCode"];
            
            //Put this back in for Site Branding
            //if (x != null)
            //{ 
            //    if (x.ToString() == "DMO")
            //    {
            //        headerCSS = "headerDummen.css";
            //    }   
            //}   
        }
        <link href="~/Content/styles/@headerCSS " id="EPSHeader" rel="stylesheet" />

        <link href="~/Content/styles/footer2.css" rel="stylesheet" />

        <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
        <meta charset="utf-8" />
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <title>@ViewBag.Title</title>
        
        @Styles.Render("~/Content/themes/base/css")
        @Styles.Render("~/bundles/css")
        @RenderSection("styles", required: false)
        @Scripts.Render("~/bundles/modernizr")
        
       
        
@*        <script type="text/javascript">

            Modernizr.load({
                test: Modernizr.geolocation,
                yep : 'geo.js',
                nope: 'geo-polyfill.js'
            });

        </script>*@
        

        <!------- Detect Early IE ------->
        <script type="text/javascript">
            var eps_EarlyIeBrowser = false;
        </script>

        <script>document.createElement('footer');</script>


      
        
    </head>
    <body>

        <div id="headerBar">

            <div id="logo">
                <a href="http://www.adenitrax.com"><img id="brandLogo" src="/Images/layout/adenitrax_logo.png" 
                   style="  height: 40px;
                            width: 100px;
                            margin-left: 10px;
                            margin-right: 10px;"/></a>
            </div>
            


            <div id="phone">
                303-601-2431
            </div>




            <div id="headerNav">
                <ul>
                    <li><span id="mp_sign_in_display"><a href="javascript:popUpLogIn();">Sign In</a></span></li>
                    <li> @Html.ActionLink("My Account", "index", "MyAccount")</li>
                </ul>
            </div>

        </div> 

    <div id="cartBar"><a class="cart_full" href="/home/cart">Cart</a><a class="cart_mobile" href="/home/cart"><img src="~/Images/icon_cart2.png" width="45" height="34" /></a>
    </div>
    
    <div id="mainBar">
	
	   
	        <nav id="menu" class="menu" style="position: relative; z-index: 100;">
           
                <ul>


                    <li class="has-submenu">
                        <a href="#">Ordering</a>
                        <ul class="sub-menu">
                            <li class="selected_menu_item"><a href="/Availability2/Search?Category=WC&Form=WC">Wound Care Products</a></li>
                        </ul>
                    </li>
                    <li class="has-submenu">
                        <a href="#">Visits</a>
                        <ul class="sub-menu">
                            <li class="selected_menu_item"><a href="/Visits/Visit">Record a Visit</a></li>
                            <li class="selected_menu_item"><a href="/Visits/Patients">Patient (Wound) Review</a></li>
                            <li class="selected_menu_item"><a href="/">Download our App</a></li>
                        </ul>
                    </li>
                    <li class="has-submenu">
                        <a href="#">Reports</a>
                        <ul class="sub-menu">
                            <li><a href="/Reprots/Summary">Visit Summary</a></li>
                            <li><a href="/Reprots/Detail">Visit Detail</a></li>

                        </ul>
                    </li>

                    <li><a href="/partners/Partners/">Partners</a>


                    <li><a href="/Home/about/">About Us</a>
                    <li><a href="/Home/contact/">Contact</a>

                </ul>     
       
      
        </nav>
	
        
    
           
	
       

	</div>

             @RenderBody()


  	<div id="footer_content">
        
        <div id="socmed">
            <a href="http://facebook.com/Adenitrax" target="_blank"><img src="~/Images/facebook.png" width="60" height="60" alt="Facebook"/></a>
            <a href="https://twitter.com/Adenitrax" target="_blank"><img src="~/Images/twitter.png" width="60" height="60" alt="Twitter"/></a>
            <a href="http://www.linkedin.com/company/Adenitrax" target="_blank"><img src="~/Images/linkedin.png" width="60" height="60" alt="LinkedIn" /></a>
                    
            </ul>
                
        </div><!-- End #socmed -->
              
        <div id="footernav">  
            <ul style="margin-top:-6px;">
                @*<li class="block">
                    <a href="https://epsstorage.blob.core.windows.net/websiteimages/ePlantSource_TermsAndConditions.pdf" target="_blank">Terms &amp; Conditions</a>
                
                </li>
                <li class="block">
                    <a href="https://epsstorage.blob.core.windows.net/websiteimages/PrivacyPolicy.pdf" target="_blank" >Privacy Policy</a>
                </li>*@
            </ul>
        </div><!-- End #footernav -->
                
               
            
        <div id="address">
           

            <p>
                Adenitrax<br>
                Denver, CO 80237<br>
                303-601-2431<br>
                info@adenitrax.com
            </p>
        </div><!-- End #address -->
          
          
        <div id="copyright">
            &copy; 2018 by Adenitrax, Inc. All rights reserved.
        </div><!-- End #copyright -->         
        
    </div><!-- End #footer_content -->





    
    </body>

    @*<script src="~/Scripts/pageScripts/layout.js"></script>*@
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/siteJs")
    <script type="text/javascript">
        //// Note: The pages will have $(document).ready(function () {} so probably should not use it here.
       
        updateSignInStatus();
        $("#shopping_cart_display img").on("click", function () {
            window.location.href = "/home/cart/";
        });

       
    </script>


    <!--------START NEW HEADER SCRIPT-------->
   <script>
       jQuery(document).ready(function ($) {

           var $menu = $('#menu'),
             $menulink = $('.menu-link'),
             $menusearch = $('.menu-search'),
             $menuTrigger = $('.has-submenu > a'),
             $searchTrigger = $('.search-m > a');

           $menulink.click(function (e) {
               e.preventDefault();
               $menulink.toggleClass('active');
               $menu.toggleClass('active');
           });

           $menuTrigger.click(function (e) {
               e.preventDefault();
               var $this = $(this);
               $this.toggleClass('active').next('ul').toggleClass('active');
           });


      
           
         

       });
    </script>

    <script type="text/javascript">
    function toggle_visibility(id) {
        var e = document.getElementById(id);
        if (e.style.display == 'block')
            e.style.display = 'none';
        else
            e.style.display = 'block';
    }
    </script>
  

<!-----  END NEW HEADER -------------->


    @RenderSection("scripts", required: false)
</html>