﻿@model ePS.Models.LoginModel

@using (Html.BeginForm(
    "Login",                        //action
    "account",                      //controller
    new { ReturnUrl = "PopUp" },    //Route Values
    FormMethod.Post,                //Http Type
    new { id = "popup_login_form"}  //Html Attributes
    )) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Sign In</legend>
        <h1>Sign In</h1>
        <ol>
            <li>
                <span class="classWhite" >Don't have an account yet?  <a href="/Registration/Account">Create</a> one now!</span>
            </li>
            <li>
                <span class="classGreen" id="popup_login_status_message"></span>
            </li>
            <li>
                @Html.LabelFor(m => m.UserName, "Email")
                @Html.TextBoxFor(m => m.UserName, new { autofocus = "autofocus" })
                @Html.ValidationMessageFor(m => m.UserName)
            </li>
            <li>
                @Html.LabelFor(m => m.Password, "Password")
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </li>
            <li>
        <span class="classGreen" >I've <a href="JAVASCRIPT:loginModel.forgottenPassword();">forgotten</a> my password.</span>

            </li>
            @*<li>
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
            </li>*@
        </ol>
        <br />
        <div style="text-align: right;">
            
            @{
                const string DOMAIN_PRODUCTION_SETTING = "www";
                if ((DOMAIN_PRODUCTION_SETTING == System.Configuration.ConfigurationManager.AppSettings["SubDomain"].ToLower())) { 
                    <span id="siteseal"><script type="text/javascript" src="https://seal.starfieldtech.com/getSeal?sealID=MGJw1oJobd103dEAiCfxc7x7Sb7mT9uJlw23GlAEkEXeJRkj6K"></script></span>
                } else {
                    <span id="siteseal"><script type="text/javascript" src="https://seal.starfieldtech.com/getSeal?sealID=2jCCemB6pjk02rsJDQamSucJIYhkMcPhNghTiIyM49eiJJOBD9"></script></span>
                };
            }

        </div>
        <input id="popup_submit_button" type="submit" value="Sign in" />



    </fieldset>

}
