﻿@{
    ViewBag.Title = ViewBag.Title ?? "VisitDetail";
    ViewBag.PageMode = ViewBag.PageMode ?? "";
    ViewBag.ShowTestInfo = ViewBag.ShowTestInfo ?? false;   //default to false

}


@************************* PAGE CONTENT *****************************************@
<div id="page_content" style="text-align:center">
    <h1>Visit Detail</h1>
    <div id="divReportDisplay" style="text-align:left;display:inline-block">
        <table>
            <tr>
                <th>Patient (Wound):</th>
                <th>Date:</th>
                <th>Wound Size (CM):</th>
                <th>Note:</th>
                <td>Product Applied:</td>
                <td>Product Applied Qty:</td>
                <td>Wound Image:</td>
                <td>
                    <select id="cboPatient"></select>
                </td>

                <td>
                    <input id="txtDate" />
                </td>

                <td>
                    <input id="txtWoundSize" />
                </td>

                <td>
                    <input id="txtNote" maxlength="1000" />
                </td>

                <td>
                    <select id="cboProductApplied"></select>
                </td>

                <td>
                    <input id="txtProductAppliedQty" value="1" />
                </td>


                <td>
                    <input id="txtWoundImage" />
                </td>
            </tr>
        </table>
    </div>
    <div id="action_display">
        <span id="create_visit_button">Create Visit</span><span id="cancel_visit_button">Cancel</span>
    </div><!-- #action_display -->
</div>



@section scripts {
    @* Use Bundle for PRODuction*@
    @* @Scripts.Render("~/bundles/PageScripts/Orders") *@

    @*Use files during Development*@

    <script src="~/ViewModels/Visit.js"></script>
    <script type="text/javascript">

       

        $(document).ready(function () {

            viewModel.init();
            

        });



    </script>
}
@section styles {
    <link href="~/Content/styles/Patients.css" rel="stylesheet" />
    <style type="text/css">
        #page_content {
            margin: 0 0 20px 0;
            padding: 0;
        }
    </style>
    
}


